/* Global */
$reflection-purple: #6d69c5;
$reflection-red: #ff496a;
$reflection-green: #1bc79f;
$dark-grey-1: #29292c;
$dark-grey-2: #363a47;
$mid-grey-1: #5b5b68;
$mid-grey-2: #727686;
$light-grey-1: #81879d;
$light-grey-2: #c4c7d0;
$reflection-white: #fcfdfd;
$panel-grey: #f2f2f5;
$graph-fill-grey: #e8e7f1;
$divider-grey: #e1e5e8;
$purple-pale: #c3c6f6;
$error-red: #d23753;