%ref-icon { // pixel fix for some browsers and reset
	padding: 0;
	line-height: 1;
	text-decoration: none;
}

/* Reflection Icons */
.ref-icon-before {
	@extend %ref-icon;
	&:before {
		@extend %icon-font;
		font-size: 22px;
		position: relative;
	}
}
.ref-icon-after {
	@extend %ref-icon;
	&:after {
		@extend %icon-font;
		font-size: 22px;
		position: relative;
	}
}
.ref-icon-hidden-text {
	font-size: 0;
}