<!-- <div class="panel-right-container js-account-container"> -->
	<div class="panel-right__overlay"></div>
	<div class="panel-right js-custom-scrollbar" data-mcs-theme="minimal-dark">
		<form class="reflection-form forms--dark-theme" autocomplete="off">
			<div class="form-field">
				<input type="email" name="email" id="email" autocomplete="off" />
				<label for="email">Email</label>
			</div>
			<div class="form-field">
				<input type="password" name="password" id="password" autocomplete="off" />
				<label for="password">Password</label>
			</div>
			<a href="#" class="form-link">I've misplaced my password</a>
			<div class="form-field--checkbox-list">
				<ul>
					<li>
						<input type="checkbox" name="rememberSignedIn" id="rememberSignedIn" />
						<label for="rememberSignedIn" class="checkboxLabel">Keep me signed in</label>
						<label for="rememberSignedIn" class="checkboxLabelVisible">Keep me signed in</label>
					</li>
				</ul>
			</div>
			<input type="submit" class="ref-button--full-width" value="Log in" />
		</form>
		<div class="blockquote-container">
			<blockquote>
				<p>We see our customers as invited guests to a party, and we are the hosts. It's our job every day to make every important aspect of the customer experience a little bit better.</p>
				<footer>
					<cite>
						<span>Jeff Bezos</span>
						Founder, Amazon
					</cite>
				</footer>
			</blockquote>
		</div>
	</div>
<!-- </div> -->