<!-- <header class="global-header"> -->
	<div class="hamburger">
		<button class="hamburger__button ref-icon-before ref-icon-before--hamburger is-selected js-hamburger-button"></button>
	</div>
	<div class="site-logo">
		<a href="/">
			<picture> <!-- uses js/picturefill.2.2.0.min.js -->
				<!--[if IE 9]><video style="display: none;"><![endif]-->
				<source srcset="images/logo-reflection-header.png" media="(min-width: 720px)" />
				<source srcset="images/logo-reflection-header-mobile.png" />
				<!--[if IE 9]></video><![endif]-->
				<img src="images/logo-reflection-header.png" alt="Reflection logo" />
			</picture>
		</a>
	</div>
	<div class="global-header__actions">
		<div class="search-link-container">
			<a href="#" class="ref-icon-before ref-icon-before--search link-open-search js-open-search"><span>Search for app or developer</span></a>
		</div>
		<div class="actions-group-container">
			<div class="actions-group ref-icon-before ref-icon-before--cog">
				<div class="actions-group__content">
					<div class="link-log-in-container js-link-log-in-container">
						<a href="#" class="link-log-in js-link-log-in">My Account</a>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- </header> -->