<!-- <div class="panel-left"> -->
	<nav class="main-navigation js-main-nav js-main-navigation" role="navigation">
		<ul>
			<li><a href="#">Overview</a></li>
			<li><a href="#">Brand</a></li>
			<li class="has-child js-is-collapsible"><a href="#">Design Assets</a>
				<ul>
					<li><a href="colours.html">Colours</a></li>
					<li><a href="typography.html">Typography</a></li>
					<li class="has-child js-is-collapsible">
						<a href="#">Menu demo</a>
						<ul>
							<li><a href="#">Dolor Amet Lorem</a></li>
						</ul>
					</li>
				</ul>
			</li>
			<li><a href="grids.html">Grid &amp; Breakpoints</a></li>
			<li class="has-child js-is-collapsible">
				<a href="#">UI Components</a>
				<ul>
					<li><a href="buttons.html">Buttons</a></li>
					<li><a href="tabs.html">Tabs</a></li>
					<li><a href="forms.html">Form Fields</a></li>
				</ul>
			</li>
			<li><a href="interactions.html">UI Transitions</a></li>
			<li class="has-child js-is-collapsible">
				<a href="#">Page Templates</a>
				<ul>
					<li><a href="apply.html">Apply</a></li>
					<li><a href="account-setup.html">Account Setup</a></li>
				</ul>
			</li>
		</ul>
	</nav>
	<ul class="main-social-links">
		<li><a href="#" class="ref-icon-before ref-icon-before--facebook" onclick="return false;"><span>Facebook</span></a></li>
		<li><a href="#" class="ref-icon-before ref-icon-before--twitter" onclick="return false;"><span>Twitter</span></a></li>
		<li><a href="#" class="ref-icon-before ref-icon-before--linkedin" onclick="return false;"><span>LinkedIn</span></a></li>
	</ul>
	<div class="main-footer-links">
		<ul>
			<li><a href="#">Contact Us</a></li>
			<li><a href="#">Terms &amp; Conditions</a></li>
			<li><a href="#">Privacy</a></li>
			<li><a href="#">Sitemap</a></li>
		</ul>
	</div>
<!-- </div> -->