@font-face {
  font-family: 'reflectionglyphs';
  src: url('../font/reflectionglyphs.eot?39275259');
  src: url('../font/reflectionglyphs.eot?39275259#iefix') format('embedded-opentype'),
       url('../font/reflectionglyphs.woff?39275259') format('woff'),
       url('../font/reflectionglyphs.ttf?39275259') format('truetype'),
       url('../font/reflectionglyphs.svg?39275259#reflectionglyphs') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'reflectionglyphs';
    src: url('../font/reflectionglyphs.svg?39275259#reflectionglyphs') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "reflectionglyphs";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-star:before { content: '\e803'; } /* '' */
.icon-money:before { content: '\e80f'; } /* '' */
.icon-star-half:before { content: '\e805'; } /* '' */
.icon-star-half-alt:before { content: '\e806'; } /* '' */
.icon-picture:before { content: '\e821'; } /* '' */
.icon-minus:before { content: '\e815'; } /* '' */
.icon-help-circled:before { content: '\e80e'; } /* '' */
.icon-link:before { content: '\e811'; } /* '' */
.icon-unlink:before { content: '\e812'; } /* '' */
.icon-link-ext:before { content: '\e80a'; } /* '' */
.icon-calendar:before { content: '\e802'; } /* '' */
.icon-font:before { content: '\e81e'; } /* '' */
.icon-bold:before { content: '\e81f'; } /* '' */
.icon-italic:before { content: '\e820'; } /* '' */
.icon-align-left:before { content: '\e81d'; } /* '' */
.icon-align-center:before { content: '\e81c'; } /* '' */
.icon-align-right:before { content: '\e81b'; } /* '' */
.icon-star-empty:before { content: '\e804'; } /* '' */
.icon-indent-left:before { content: '\e819'; } /* '' */
.icon-indent-right:before { content: '\e81a'; } /* '' */
.icon-list-bullet:before { content: '\e817'; } /* '' */
.icon-list-numbered:before { content: '\e808'; } /* '' */
.icon-strike:before { content: '\e816'; } /* '' */
.icon-underline:before { content: '\e818'; } /* '' */
.icon-superscript:before { content: '\e813'; } /* '' */
.icon-subscript:before { content: '\e814'; } /* '' */
.icon-eraser:before { content: '\e822'; } /* '' */
.icon-facebook-squared:before { content: '\e800'; } /* '' */
.icon-linkedin-squared:before { content: '\e801'; } /* '' */
.icon-menu:before { content: '\e80b'; } /* '' */
.icon-plus:before { content: '\e810'; } /* '' */
.icon-download:before { content: '\e807'; } /* '' */
.icon-globe:before { content: '\e80c'; } /* '' */
.icon-globe-alt:before { content: '\e80d'; } /* '' */
.icon-list:before { content: '\e809'; } /* '' */