@CHARSET "UTF-8";

@external popupContent, btn-cancel, btn-delete, gwt-PopupPanel, gwt-PopupPanelGlass, active;
	/* Colors palette: Purple #6d69c5; DarkBlue 272933; Gold #eabc3e; LightGrey: #f8f9f9; Green: #1bc79f; Blue: #3357cc; Red: #e73c48; */
.gwt-PopupPanel {
	text-align: center;
	padding: 3px;
	background-color: transparent;
	z-index: 1050;
	width: 345px;
}

.gwt-PopupPanel>.popupContent .btn-cancel {
	color: #FFF;
	background-color: transparent;
	border-color: #FFF;
	margin: 10px 20px;
	width: 120px;
}

.gwt-PopupPanel>.popupContent .btn-cancel:hover,.gwt-PopupPanel>.popupContent .btn-cancel:focus,.gwt-PopupPanel>.popupContent .btn-cancel:active,.gwt-PopupPanel>.popupContent .btn-cancel.active
	{
	background-color: #FFF;
	color: #000;
}

.gwt-PopupPanel>.popupContent .btn-delete {
	color: #FFF;
	border-color: red;
	background-color: red;
	margin: 10px 20px;
	width: 120px;
}

.gwt-PopupPanel>.popupContent .btn-delete:hover,.gwt-PopupPanel>.popupContent .btn-delete:focus,.gwt-PopupPanel>.popupContent.btn-delete:active,.gwt-PopupPanel>.popupContent .btn-delete.active
	{
	background-color: #FFF;
	color: red;
}

.gwt-PopupPanel>.popupContent h1,.gwt-PopupPanel>.popupContent p {
	color: #FFF;
	margin-bottom: 30px;
}

.gwt-PopupPanelGlass {
	background-color: #000;
	opacity: 0.7;
	z-index: 1050;
}