@CHARSET "UTF-8";

@external well, form-group, gwt-RadioButton, hr, container, pagination, btn-primary, btn-primary:hover, active, open, dropdown-toggle, dropdown-menu, badge, dropdown, nav, navbar-inverse, navbar-nav, caret, form-control;
.well {
	background-color: #fafafa;
}

.gwt-RadioButton label {
	font-size: 12px;
	font-weight: normal;
	margin-left: 4px;
}

.form-group label {
	font-weight: normal;
	font-size: 16px;
	font-family: Oxygen;
	color: #58595d;
	line-height: 30px;
	letter-spacing: 0px;
}

p {
	font-weight: regular;
	font-size: 16px;
	font-family: Lato;
	color: #63656a;
	line-height: 26px;
	letter-spacing: 0px;
}

h1,h2,h3,h4,h5,h6 {
	font-family: Oxygen;
	color: #0e0e1f;
}

/* Forms title */
h6 {
	font-weight: regular;
	font-size: 16px;
}

h5 {
	font-weight: bold;
	font-size: 18px;
}

h4 {
	font-weight: bold;
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 0px;
}

h3 {
	font-weight: bold;
	font-size: 22px;
	line-height: 30px;
	letter-spacing: 0px;
}

h1 {
	font-weight: bold;
	font-size: 32px;
	line-height: 40px;
	letter-spacing: 0px;
}

hr {
	color: #AAA;
	background-color: #AAA;
	height: 1px;
}

a {
	cursor: pointer;
	color: #6D69C5;
	font-family: Oxygen;
	font-size: 14px;
}

.highlightRange {
	
}

.highlightRangeBoundaries {
	
}

a:hover,a:focus,a:active,a.active {
	text-decoration: none;
	color: #1bc79f;
}

.pagination>.active>a,.pagination>.active>span,.pagination>.active>a:hover,.pagination>.active>span:hover,.pagination>.active>a:focus,.pagination>.active>span:focus
	{
	background-color: #6D69C5;
	border-color: #6D69C5;
}

.btn-primary {
	background-color: #6561c0;
	border-color: #8873CD;
	height: 56px;
	border-radius: 4px;
	/* Fade effect */
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s;
}

.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active,.open .dropdown-toggle.btn-primary
	{
	background-color: #1bc79f;
	border: 0px;
}

.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus
	{
	background-color: #6D69C5;
	color: #FFF;
}

.badge {
	background-color: #474949;
}

/* emulates .open click */
.dropdown:hover .dropdown-menu,.dropdown:focus .dropdown-menu {
	display: block;
}

.navbar-inverse .navbar-nav>.dropdown:hover>a,.navbar-inverse .navbar-nav>.dropdown:hover>a:hover,.navbar-inverse .navbar-nav>.dropdown:hover>a:focus
	{
	color: #FFF;
	background-color: #080808;
}

.nav .dropdown:hover>a,.nav .dropdown:hover>a:hover,.nav .dropdown:hover>a:focus
	{
	background-color: #EEE;
	border-color: #428BCA;
}

.dropdown:hover>a {
	outline: 0;
}

.navbar-inverse .navbar-nav>.dropdown:hover>a .caret,.navbar-inverse .navbar-nav>.dropdown:hover>a:hover.caret,.navbar-inverse .navbar-nav>.dropdown:hover>a:focus.caret
	{
	border-top-color: #FFF;
	border-bottom-color: #FFF;
}

.form-control {
	height: 36px;
}

.form-control:focus {
	border-color: #6D69C5;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px
		rgba(151, 128, 228, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px
		rgba(151, 128, 228, 0.6);
}