@CHARSET "UTF-8";

@external p-small, form, formEdit, noteDetail, label, gwt-CheckBox, gwt-DateBox, gwt-ListBox, toppanel, sidepanel, btn-group, btn-default, row, divider, dropdown-menu, side, divider-vertical, nav-pills, nav-stacked, nav-tabs, nav-justified, ranks, loginregister, well, well-title, form-group, gwt-RadioButton, hr, navbar-fixed-top, navbar, container, pagination, btn-primary, btn-primary, disabled btn-primary:hover, active, open, dropdown-toggle, dropdown-menu, badge, dropdown, nav, navbar-inverse, navbar-nav, caret, form-control;
	/* Colors palette: Purple #6d69c5; DarkBlue 272933; Gold #eabc3e; LightGrey: #f8f9f9; Green: #1bc79f; Blue: #3357cc; Red: #e73c48; */
body {
	font-family: 'Lato', sans-serif;
}

/* icons */
span[class ^="icon-"]:before,span[class *=" icon-"]:before {
	margin: 0;
}

/* Forms */
.form {
	padding-left: 55px;
	padding-right: 55px;
	margin-top: 30px;
}

.form>div {
	margin-top: 20px;
	margin-bottom: 40px;
}

.form button {
	margin-bottom: 20px;
	margin-top: 30px;
}

.formEdit {
	padding-left: 25px;
	padding-right: 25px;
	width: 320px;
}

.formEdit button {
	margin-top: 30px;
}

.form-group {
	margin-bottom: 10px;
}

.noteDetail {
	font-size: smaller;
	margin-top: 5px;
}

.form-control {
	height: 36px;
	font-size: 16px;
	color: #434346;
	font-weight: 400;
	font-family: 'Lato', sans-serif;
	line-height: 24px;
}

.form-control:focus {
	border-color: #6d69c5;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px
		rgba(151, 128, 228, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px
		rgba(151, 128, 228, 0.6);
}

/* Date Box */
.gwt-DateBox {
	height: 34px;
	width: 180px;
	background: -webkit-linear-gradient(#f6f7f9, #eeeff1);
	/* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#f6f7f9, #eeeff1);
	/* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#f6f7f9, #eeeff1);
	/* For Firefox 3.6 to 15 */
	background: linear-gradient(#f6f7f9, #eeeff1); /* Standard syntax */
	color: #434346;
	padding-left: 12px;
	padding-top: 5px;
	margin-right: 0px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	box-shadow: none;
	border: 1px solid #d5d6da;
	outline: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
}

/* List Box */
.gwt-ListBox {
	display: inline-block;
	color: #434346;
	height: 34px;
	width: 160px;
	background: -webkit-linear-gradient(#f6f7f9, #eeeff1);
	/* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#f6f7f9, #eeeff1);
	/* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#f6f7f9, #eeeff1);
	/* For Firefox 3.6 to 15 */
	background: linear-gradient(#f6f7f9, #eeeff1); /* Standard syntax */
	margin: 0px;
	margin-left: 7px;
	padding-left: 12px;
	padding-top: 5px;
	margin-right: 7px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	box-shadow: none;
	border: 1px solid #d5d6da;
	outline: 0;
	display: inline-block;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
}

.gwt-ListBox>option {
	color: #434346;
	outline: 0;
	height: 34px;
	padding-left: 12px;
	padding-top: 7px;
	box-shadow: none;
}

.row {
	margin-left: 0px;
	margin-right: 0px;
}

.sidepanel {
	margin-top: -10px;
	padding-left: 25px;
	padding-right: 25px;
	border-radius: 0px;
}

.toppanel {
	
}

.dropdown-menu.side {
	background-clip: padding-box;
	border: 0px;
	border-radius: 0px;
	display: none;
	float: none;
	font-size: 14px;
	left: auto;
	list-style: none outside none;
	margin: 0px;
	position: fixed;
	top: 40px;
	padding-top: 50px;
	padding-left: 35px;
	padding-right: 35px;
	z-index: 1000;
	height: 100%;
	width: 320px;
	right: 0px;
	background-color: #272733;
}

.dropdown-menu.side>li>a,.dropdown-menu.side>li>a:FOCUS {
	background-color: #272733;
	color: #8d8ea1;
	outline: 0;
	line-height: 30px;
	padding: 3px 0px;
}

.dropdown-menu.side>li>a:HOVER {
	background-color: #272733;
	color: #1bc79f;
}

.dropdown-menu.side>.active>a,.dropdown-menu.side>.active>a:FOCUS,.dropdown-menu.side>.active>a:HOVER
	{
	color: #ffffff;
}

.well {
	background-color: #fafafa;
}

.well-title {
	padding-left: 25px;
	height: 55px;
}

.gwt-RadioButton label {
	font-size: 12px;
	font-weight: normal;
	margin-left: 4px;
}

.gwt-CheckBox input {
	outline: 0;
	cursor: pointer;
}

.gwt-CheckBox label {
	padding-left: 8px;
	font-weight: 400;
	font-size: 14px;
	font-family: 'Lato', sans-serif;
	line-height: 22px;
	cursor: pointer;
}

/* TEXT */
p {
	font-weight: 400;
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	color: #63656a;
	line-height: 24px;
}

p.p-small {
	font-weight: 400;
	font-size: 14px;
	font-family: 'Lato', sans-serif;
	line-height: 22px;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Source Sans Pro', sans-serif;
	color: #0e0e1f;
	font-weight: 600;
}

/* Forms title */
h6 {
	font-size: 16px;
}

h5 {
	font-size: 18px;
}

h4 {
	font-size: 20px;
}

h3 {
	font-size: 24px;
}

h2 {
	font-size: 28px;
}

h1 {
	font-size: 34px;
}

hr {
	background-color: #d6d6d6;
	color: #d6d6d6;
	border-color: #d6d6d6;
	height: 1px;
}

label {
	font-weight: 400;
	font-size: 18px;
	font-family: 'Source Sans Pro', sans-serif;
	color: #58595d;
	line-height: 30px;
}

a {
	font-weight: 400;
	font-family: 'Lato', sans-serif;
	cursor: pointer;
	color: #6D69C5;
	outline: 0;
}

a:hover,a:focus,a:active {
	text-decoration: none;
	color: #1bc79f;
}

.breakWords {
	word-wrap: break-word;
}

.pagination>.active>a,.pagination>.active>span,.pagination>.active>a:hover,.pagination>.active>span:hover,.pagination>.active>a:focus,.pagination>.active>span:focus
	{
	background-color: #6D69C5;
	border-color: #6D69C5;
}

/* Buttons */
.btn-group .btn-default,.btn-group .btn-default:FOCUS {
	background-color: #f5f6f8;
	border-color: #d5d6da;
	height: 30px;
	border-radius: 4px;
	font-size: 12px;
	color: #434346;
}

.btn-group .btn-default:HOVER {
	color: #1bc79f;
}

.btn-group .btn-default.active,.btn-group .btn-default:ACTIVE {
	color: #ffffff;
	background-color: #8e93a2;
}

.btn-primary {
	background-color: #6d69c5;
	border-color: #8873CD;
	border-radius: 4px;
	/* Fade effect */
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s;
}

.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active,.open .dropdown-toggle.btn-primary
	{
	border-color: #1bc79f;
	background: #1bc79f;
}

.btn-primary.disabled,.btn-primary[disabled],fieldset[disabled] .btn-primary,.btn-primary.disabled:hover,.btn-primary[disabled]:hover,fieldset[disabled] .btn-primary:hover,.btn-primary.disabled:focus,.btn-primary[disabled]:focus,fieldset[disabled] .btn-primary:focus,.btn-primary.disabled:active,.btn-primary[disabled]:active,fieldset[disabled] .btn-primary:active,.btn-primary.disabled.active,.btn-primary.active[disabled],fieldset[disabled] .btn-primary.active
	{
	background-color: #dedede;
	border-color: #dedede;
}
/* Dropdown */
.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus
	{
	background-color: #6D69C5;
	color: #FFF;
}

.badge {
	background-color: #474949;
}

.navbar-inverse .navbar-nav>li>a {
	color: #8d8ea1;
	outline: 0;
}

/* emulates .open click */
.dropdown:hover .dropdown-menu,.dropdown:focus .dropdown-menu {
	display: block;
}

.navbar-inverse .navbar-nav>.dropdown:hover>a,.navbar-inverse .navbar-nav>.dropdown:hover>a:hover,.navbar-inverse .navbar-nav>.dropdown:hover>a:focus
	{
	color: #FFF;
	background-color: #272833;
}

.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>.active>a:focus
	{
	background-color: #272833;
}

.navbar .navbar-inverse .navbar-fixed-top {
	outline: 0;
}

.nav .dropdown:hover>a,.nav .dropdown:hover>a:hover,.nav .dropdown:hover>a:focus
	{
	background-color: #272833;
}

.dropdown:hover>a {
	outline: 0;
}

.navbar-inverse .navbar-nav>.dropdown:hover>a .caret,.navbar-inverse .navbar-nav>.dropdown:hover>a:hover.caret,.navbar-inverse .navbar-nav>.dropdown:hover>a:focus.caret
	{
	border-top-color: #FFF;
	border-bottom-color: #FFF;
}

/* Tabs Rank */
.nav-tabs.nav-justified.ranks>li>a {
	background-color: #f6f6f6;
	height: 65px;
	font-size: 18px;
	padding-top: 17px;
	border-radius: 0px;
	border: 1px solid #d9dce0;
	outline: 0;
	color: #5c5e65;
	text-align: left;
	padding-left: 30px;
}

.nav-tabs.nav-justified.ranks>.active>a,.nav-tabs.nav-justified.ranks>.active>a:hover,.nav-tabs.nav-justified.ranks>.active>a:focus
	{
	background-color: #ffffff;
	font-weight: bold;
	border: 0px;
	color: #0e0e1f;
}

/* Navbar vertical divider */
.navbar .divider-vertical {
	height: 30px;
	margin: 10px 9px;
	border-right: 1px solid #454757;
	border-left: 1px solid #454757;
}

.navbar-inverse .divider-vertical {
	border-right-color: #454757;
	border-left-color: #454757;
}

/* Tabs Login/Register */
.nav-tabs.nav-justified.loginregister>li>a {
	background-color: #efefef;
	height: 65px;
	font-size: 18px;
	padding-top: 17px;
	border-radius: 0px;
	border: 1px solid #d9dce0;
	outline: 0;
	text-align: center;
	color: #37383b;
}

.nav-tabs.nav-justified.loginregister>li>a:hover {
	color: #1bc79f;
}

.nav-tabs.nav-justified.loginregister>.active>a,.nav-tabs.nav-justified.loginregister>.active>a:hover,.nav-tabs.nav-justified.loginregister>.active>a:focus
	{
	background-color: #fafafa;
	font-weight: bold;
	border: 0px;
	color: #0e0e1f;
}

/* Tabs Side Menu */
.nav-pills.nav-stacked>li>a {
	background-color: #fafafa;
	outline: 0;
	color: #0e0e1f;
	padding: 3px 0px;
}

.nav-pills.nav-stacked>li>a:hover {
	color: #1bc79f;
}

.nav-pills.nav-stacked>.active>a,.nav-pills.nav-stacked>.active>a:hover,.nav-pills.nav-stacked>.active>a:focus
	{
	color: #6e69b0;
	background-color: #fafafa;
}
/* Sprites */
@sprite       
.footerFacebook {
	gwt-image: "footerSprite";
	display: inline-block;
	overflow: hidden;
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
	background-position: -28px -52px;
}

.footerFacebook:HOVER {
	background-position: -2px -52px;
}

@sprite       
.footerLinkedin {
	gwt-image: "footerSprite";
	display: inline-block;
	overflow: hidden;
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
	background-position: -28px -26px;
}

.footerLinkedin:HOVER {
	background-position: -2px -26px;
}

@sprite       
.footerTwitter {
	gwt-image: "footerSprite";
	display: inline-block;
	overflow: hidden;
	background-repeat: no-repeat;
	width: 28px;
	height: 22px;
	background-position: -32px -2px;
}

.footerTwitter:HOVER {
	background-position: -2px -2px;
}

@sprite       
.footerUpArrow {
	gwt-image: "footerSprite";
	display: inline-block;
	overflow: hidden;
	background-repeat: no-repeat;
	width: 15px;
	height: 8px;
	background-position: -2px -109px;
}

.footerUpArrow:HOVER {
	background-position: -2px -99px;
}

@sprite       
.footerDownArrow {
	gwt-image: "footerSprite";
	display: inline-block;
	overflow: hidden;
	background-repeat: no-repeat;
	width: 15px;
	height: 8px;
	background-position: -19px -109px;
}

.footerDownArrow:HOVER {
	background-position: -19px -99px;
}

@sprite       
.footerLogo {
	gwt-image: "footerSprite";
	display: inline-block;
	overflow: hidden;
	background-repeat: no-repeat;
	width: 18px;
	height: 19px;
	background-position: -2px -78px;
}

@sprite
.unknownAppSmall {
	gwt-image: "unknownSprite";
	display: inline-block;
	overflow: hidden;
	background-repeat: no-repeat;
	width: 53px;
	height: 53px;
	background-position: -2px -181px;
}

@sprite
.unknownAppLarge {
	gwt-image: "unknownSprite";
	display: inline-block;
	overflow: hidden;
	background-repeat: no-repeat;
	width: 100px;
	height: 100px;
	background-position: -2px -2px;
}

@sprite
.unknownAppMedium {
	gwt-image: "unknownSprite";
	display: inline-block;
	overflow: hidden;
	background-repeat: no-repeat;
	width: 75px;
	height: 75px;
	background-position: -2px -104px;
}

.unknownAppSmall, .unknownAppMedium, .unknownAppLarge {}