@CHARSET "UTF-8";

@external divider, dropdown-menu, side, divider-vertical, nav-pills, nav-stacked, nav-tabs, nav-justified, ranks, loginregister, well, form-group, gwt-RadioButton, hr, navbar-fixed-top, navbar, container, pagination, btn-primary, btn-primary:hover, active, open, dropdown-toggle, dropdown-menu, badge, dropdown, nav, navbar-inverse, navbar-nav, caret, form-control;
.dropdown-menu.side {
	background-clip: padding-box;
	border: 0px;
	border-radius: 0px;
	display: none;
	float: none;
	font-size: 14px;
	left: auto;
	list-style: none outside none;
	margin: 0px;
	position: fixed;
	top: 40px;
	padding-top: 50px;
	padding-left: 35px;
	padding-right: 35px;
	z-index: 1000;
	height: 100%;
	width: 320px;
	right: 0px;
	background-color: #272733;
}

.dropdown-menu.side>li>a, .dropdown-menu.side>li>a:FOCUS {
	background-color: #272733;
	color: #8d8ea1;
	outline: 0;
	line-height: 30px;
	padding: 3px 0px;
}

.dropdown-menu.side>li>a:HOVER {
	background-color: #272733;
	color: #1bc79f;
}

.dropdown-menu.side>.active>a, .dropdown-menu.side>.active>a:FOCUS, .dropdown-menu.side>.active>a:HOVER {
	color: #ffffff;
}

.well {
	background-color: #fafafa;
}

.gwt-RadioButton label {
	font-size: 12px;
	font-weight: normal;
	margin-left: 4px;
}

.form-group label {
	font-weight: normal;
	font-size: 16px;
	font-family: Oxygen;
	color: #58595d;
	line-height: 30px;
	letter-spacing: 0px;
}

p {
	font-weight: regular;
	font-size: 16px;
	font-family: Lato;
	color: #63656a;
	line-height: 26px;
	letter-spacing: 0px;
}

h1,h2,h3,h4,h5,h6 {
	font-family: Oxygen;
	color: #0e0e1f;
}

/* Forms title */
h6 {
	font-weight: regular;
	font-size: 16px;
}

h5 {
	font-weight: bold;
	font-size: 18px;
}

h4 {
	font-weight: bold;
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 0px;
}

h3 {
	font-weight: bold;
	font-size: 22px;
	line-height: 30px;
	letter-spacing: 0px;
}

h2 {
	
}

h1 {
	font-weight: bold;
	font-size: 34px;
	line-height: 40px;
	letter-spacing: 0px;
}

hr {	
	background-color: #d6d6d6;
	color: #d6d6d6;
	border-color: #d6d6d6;
	height: 1px;
}


a {
	cursor: pointer;
	color: #6D69C5;
	font-family: Oxygen;
	font-size: 14px;
}

.highlightRange {
	
}

.highlightRangeBoundaries {
	
}

a:hover,a:focus,a:active {
	text-decoration: none;
	color: #1bc79f;
}

.pagination>.active>a,.pagination>.active>span,.pagination>.active>a:hover,.pagination>.active>span:hover,.pagination>.active>a:focus,.pagination>.active>span:focus
	{
	background-color: #6D69C5;
	border-color: #6D69C5;
}

.btn-primary {
	background-color: #6d69c5;
	border-color: #8873CD;
	height: 56px;
	border-radius: 4px;
	/* Fade effect */
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s;
}

.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active,.open .dropdown-toggle.btn-primary
	{
	border-color: #1bc79f;
	background: #1bc79f;
}

.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus
	{
	background-color: #6D69C5;
	color: #FFF;
}

.badge {
	background-color: #474949;
}

.navbar-inverse .navbar-nav>li>a {
	color: #8d8ea1;
	outline: 0;
}

/* emulates .open click */
.dropdown:hover .dropdown-menu,.dropdown:focus .dropdown-menu {
	display: block;
}

.navbar-inverse .navbar-nav>.dropdown:hover>a,.navbar-inverse .navbar-nav>.dropdown:hover>a:hover,.navbar-inverse .navbar-nav>.dropdown:hover>a:focus
	{
	color: #FFF;
	background-color: #272833;
}

.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>.active>a:focus
	{
	background-color: #272833;
}

.navbar .navbar-inverse .navbar-fixed-top {
	outline: 0;
}

.nav .dropdown:hover>a,.nav .dropdown:hover>a:hover,.nav .dropdown:hover>a:focus
	{
	background-color: #272833;
}

.dropdown:hover>a {
	outline: 0;
}

.navbar-inverse .navbar-nav>.dropdown:hover>a .caret,.navbar-inverse .navbar-nav>.dropdown:hover>a:hover.caret,.navbar-inverse .navbar-nav>.dropdown:hover>a:focus.caret
	{
	border-top-color: #FFF;
	border-bottom-color: #FFF;
}

/* Tabs Rank */
.nav-tabs.nav-justified.ranks>li>a {
	background-color: #f6f6f6;
	height: 65px;
	font-size: 18px;
	padding-top: 17px;
	border-radius: 0px;
	border: 1px solid #d9dce0;
	outline: 0;
	color: #5c5e65;
	text-align: left;
	padding-left: 30px;
}

.nav-tabs.nav-justified.ranks>.active>a,.nav-tabs.nav-justified.ranks>.active>a:hover,.nav-tabs.nav-justified.ranks>.active>a:focus
	{
	background-color: #ffffff;
	font-weight: bold;
	border: 0px;
	color: #0e0e1f;
}

/* Navbar vertical divider */
.navbar .divider-vertical {
	height: 30px;
	margin: 10px 9px;
	border-right: 1px solid #454757;
	border-left: 1px solid #454757;
}

.navbar-inverse .divider-vertical {
	border-right-color: #454757;
	border-left-color: #454757;
}

@media ( max-width : 767px) {
	.navbar-collapse .nav>.divider-vertical {
		display: none;
	}
}

/* Tabs Login/Register */
.nav-tabs.nav-justified.loginregister>li>a {
	background-color: #efefef;
	height: 65px;
	font-size: 18px;
	padding-top: 17px;
	border-radius: 0px;
	border: 1px solid #d9dce0;
	outline: 0;
	text-align: center;
	color: #37383b;
}

.nav-tabs.nav-justified.loginregister>li>a:hover {
	color: #1bc79f;
}

.nav-tabs.nav-justified.loginregister>.active>a,.nav-tabs.nav-justified.loginregister>.active>a:hover,.nav-tabs.nav-justified.loginregister>.active>a:focus
	{
	background-color: #fafafa;
	font-weight: bold;
	border: 0px;
	color: #0e0e1f;
}

/* Tabs Side Menu */
.nav-pills.nav-stacked>li>a {
	background-color: #fafafa;
	outline: 0;
	color: #0e0e1f;
}

.nav-pills.nav-stacked>li>a:hover {
	color: #1bc79f;
}

.nav-pills.nav-stacked>.active>a,.nav-pills.nav-stacked>.active>a:hover,.nav-pills.nav-stacked>.active>a:focus
	{
	color: #6e69b0;
	background-color: #fafafa;
}

/* Form */
.form-control {
	height: 36px;
}

.form-control:focus {
	border-color: #6D69C5;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px
		rgba(151, 128, 228, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px
		rgba(151, 128, 228, 0.6);
}