/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:e31a1957872e8e7bafcfb57bccd996ed$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(flags.png);}

.AD {width:24px; height:24px; background-position: -418px -210px}
.AE {width:24px; height:24px; background-position: -392px -210px}
.AF {width:24px; height:24px; background-position: -366px -210px}
.AG {width:24px; height:24px; background-position: -340px -210px}
.AI {width:24px; height:24px; background-position: -314px -210px}
.AL {width:24px; height:24px; background-position: -288px -210px}
.AM {width:24px; height:24px; background-position: -262px -210px}
.AN {width:24px; height:24px; background-position: -236px -210px}
.AO {width:24px; height:24px; background-position: -210px -470px}
.AQ {width:24px; height:24px; background-position: -210px -444px}
.AR {width:24px; height:24px; background-position: -210px -418px}
.AS {width:24px; height:24px; background-position: -210px -392px}
.AT {width:24px; height:24px; background-position: -210px -366px}
.AU {width:24px; height:24px; background-position: -210px -340px}
.AW {width:24px; height:24px; background-position: -210px -314px}
.AX {width:24px; height:24px; background-position: -210px -288px}
.AZ {width:24px; height:24px; background-position: -210px -262px}
.BA {width:24px; height:24px; background-position: -210px -236px}
.BB {width:24px; height:24px; background-position: -210px -210px}
.BD {width:24px; height:24px; background-position: -470px -184px}
.BE {width:24px; height:24px; background-position: -444px -184px}
.BF {width:24px; height:24px; background-position: -418px -184px}
.BG {width:24px; height:24px; background-position: -392px -184px}
.BH {width:24px; height:24px; background-position: -366px -184px}
.BI {width:24px; height:24px; background-position: -340px -184px}
.BJ {width:24px; height:24px; background-position: -314px -184px}
.BL {width:24px; height:24px; background-position: -288px -184px}
.BM {width:24px; height:24px; background-position: -262px -184px}
.BN {width:24px; height:24px; background-position: -236px -184px}
.BO {width:24px; height:24px; background-position: -210px -184px}
.BR {width:24px; height:24px; background-position: -184px -470px}
.BS {width:24px; height:24px; background-position: -184px -444px}
.BT {width:24px; height:24px; background-position: -184px -418px}
.BW {width:24px; height:24px; background-position: -184px -392px}
.BY {width:24px; height:24px; background-position: -184px -366px}
.BZ {width:24px; height:24px; background-position: -184px -340px}
.CA {width:24px; height:24px; background-position: -184px -314px}
.CC {width:24px; height:24px; background-position: -184px -288px}
.CD {width:24px; height:24px; background-position: -184px -262px}
.CF {width:24px; height:24px; background-position: -184px -236px}
.CG {width:24px; height:24px; background-position: -184px -210px}
.CH {width:24px; height:24px; background-position: -184px -184px}
.CI {width:24px; height:24px; background-position: -470px -158px}
.CK {width:24px; height:24px; background-position: -444px -158px}
.CL {width:24px; height:24px; background-position: -418px -158px}
.CM {width:24px; height:24px; background-position: -392px -158px}
.CN {width:24px; height:24px; background-position: -366px -158px}
.CO {width:24px; height:24px; background-position: -340px -158px}
.CR {width:24px; height:24px; background-position: -314px -158px}
.CU {width:24px; height:24px; background-position: -288px -158px}
.CV {width:24px; height:24px; background-position: -262px -158px}
.CW {width:24px; height:24px; background-position: -236px -158px}
.CX {width:24px; height:24px; background-position: -210px -158px}
.CY {width:24px; height:24px; background-position: -184px -158px}
.CZ {width:24px; height:24px; background-position: -158px -470px}
.DE {width:24px; height:24px; background-position: -158px -444px}
.DJ {width:24px; height:24px; background-position: -158px -418px}
.DK {width:24px; height:24px; background-position: -158px -392px}
.DM {width:24px; height:24px; background-position: -158px -366px}
.DO {width:24px; height:24px; background-position: -158px -340px}
.DZ {width:24px; height:24px; background-position: -158px -314px}
.EC {width:24px; height:24px; background-position: -158px -288px}
.EE {width:24px; height:24px; background-position: -158px -262px}
.EG {width:24px; height:24px; background-position: -158px -236px}
.EH {width:24px; height:24px; background-position: -158px -210px}
.ER {width:24px; height:24px; background-position: -158px -184px}
.ES {width:24px; height:24px; background-position: -158px -158px}
.ET {width:24px; height:24px; background-position: -470px -132px}
.EU {width:24px; height:24px; background-position: -444px -132px}
.FI {width:24px; height:24px; background-position: -418px -132px}
.FJ {width:24px; height:24px; background-position: -392px -132px}
.FK {width:24px; height:24px; background-position: -366px -132px}
.FM {width:24px; height:24px; background-position: -340px -132px}
.FO {width:24px; height:24px; background-position: -314px -132px}
.FR {width:24px; height:24px; background-position: -288px -132px}
.GA {width:24px; height:24px; background-position: -262px -132px}
.GB {width:24px; height:24px; background-position: -236px -132px}
.GD {width:24px; height:24px; background-position: -210px -132px}
.GE {width:24px; height:24px; background-position: -184px -132px}
.GG {width:24px; height:24px; background-position: -158px -132px}
.GH {width:24px; height:24px; background-position: -132px -470px}
.GI {width:24px; height:24px; background-position: -132px -444px}
.GL {width:24px; height:24px; background-position: -132px -418px}
.GM {width:24px; height:24px; background-position: -132px -392px}
.GN {width:24px; height:24px; background-position: -132px -366px}
.GQ {width:24px; height:24px; background-position: -132px -340px}
.GR {width:24px; height:24px; background-position: -132px -314px}
.GS {width:24px; height:24px; background-position: -132px -288px}
.GT {width:24px; height:24px; background-position: -132px -262px}
.GU {width:24px; height:24px; background-position: -132px -236px}
.GW {width:24px; height:24px; background-position: -132px -210px}
.GY {width:24px; height:24px; background-position: -132px -184px}
.HK {width:24px; height:24px; background-position: -132px -158px}
.HN {width:24px; height:24px; background-position: -132px -132px}
.HR {width:24px; height:24px; background-position: -470px -106px}
.HT {width:24px; height:24px; background-position: -444px -106px}
.HU {width:24px; height:24px; background-position: -418px -106px}
.IC {width:24px; height:24px; background-position: -392px -106px}
.ID {width:24px; height:24px; background-position: -366px -106px}
.IE {width:24px; height:24px; background-position: -340px -106px}
.IL {width:24px; height:24px; background-position: -314px -106px}
.IM {width:24px; height:24px; background-position: -288px -106px}
.IN {width:24px; height:24px; background-position: -262px -106px}
.IQ {width:24px; height:24px; background-position: -236px -106px}
.IR {width:24px; height:24px; background-position: -210px -106px}
.IS {width:24px; height:24px; background-position: -184px -106px}
.IT {width:24px; height:24px; background-position: -158px -106px}
.JE {width:24px; height:24px; background-position: -132px -106px}
.JM {width:24px; height:24px; background-position: -106px -470px}
.JO {width:24px; height:24px; background-position: -106px -444px}
.JP {width:24px; height:24px; background-position: -106px -418px}
.KE {width:24px; height:24px; background-position: -106px -392px}
.KG {width:24px; height:24px; background-position: -106px -366px}
.KH {width:24px; height:24px; background-position: -106px -340px}
.KI {width:24px; height:24px; background-position: -106px -314px}
.KM {width:24px; height:24px; background-position: -106px -288px}
.KN {width:24px; height:24px; background-position: -106px -262px}
.KP {width:24px; height:24px; background-position: -106px -236px}
.KR {width:24px; height:24px; background-position: -106px -210px}
.KW {width:24px; height:24px; background-position: -106px -184px}
.KY {width:24px; height:24px; background-position: -106px -158px}
.KZ {width:24px; height:24px; background-position: -106px -132px}
.LA {width:24px; height:24px; background-position: -106px -106px}
.LB {width:24px; height:24px; background-position: -470px -80px}
.LC {width:24px; height:24px; background-position: -444px -80px}
.LI {width:24px; height:24px; background-position: -418px -80px}
.LK {width:24px; height:24px; background-position: -392px -80px}
.LR {width:24px; height:24px; background-position: -366px -80px}
.LS {width:24px; height:24px; background-position: -340px -80px}
.LT {width:24px; height:24px; background-position: -314px -80px}
.LU {width:24px; height:24px; background-position: -288px -80px}
.LV {width:24px; height:24px; background-position: -262px -80px}
.LY {width:24px; height:24px; background-position: -236px -80px}
.MA {width:24px; height:24px; background-position: -210px -80px}
.MC {width:24px; height:24px; background-position: -366px -106px}
.MD {width:24px; height:24px; background-position: -184px -80px}
.ME {width:24px; height:24px; background-position: -158px -80px}
.MF {width:24px; height:24px; background-position: -132px -80px}
.MG {width:24px; height:24px; background-position: -106px -80px}
.MH {width:24px; height:24px; background-position: -80px -470px}
.MK {width:24px; height:24px; background-position: -80px -444px}
.ML {width:24px; height:24px; background-position: -80px -418px}
.MM {width:24px; height:24px; background-position: -80px -392px}
.MN {width:24px; height:24px; background-position: -80px -366px}
.MO {width:24px; height:24px; background-position: -80px -340px}
.MP {width:24px; height:24px; background-position: -80px -314px}
.MQ {width:24px; height:24px; background-position: -80px -288px}
.MR {width:24px; height:24px; background-position: -80px -262px}
.MS {width:24px; height:24px; background-position: -80px -236px}
.MT {width:24px; height:24px; background-position: -80px -210px}
.MU {width:24px; height:24px; background-position: -80px -184px}
.MV {width:24px; height:24px; background-position: -80px -158px}
.MW {width:24px; height:24px; background-position: -80px -132px}
.MX {width:24px; height:24px; background-position: -80px -106px}
.MY {width:24px; height:24px; background-position: -80px -80px}
.MZ {width:24px; height:24px; background-position: -470px -54px}
.NA {width:24px; height:24px; background-position: -444px -54px}
.NC {width:24px; height:24px; background-position: -418px -54px}
.NE {width:24px; height:24px; background-position: -392px -54px}
.NF {width:24px; height:24px; background-position: -366px -54px}
.NG {width:24px; height:24px; background-position: -340px -54px}
.NI {width:24px; height:24px; background-position: -314px -54px}
.NL {width:24px; height:24px; background-position: -288px -54px}
.NO {width:24px; height:24px; background-position: -262px -54px}
.NP {width:24px; height:24px; background-position: -236px -54px}
.NR {width:24px; height:24px; background-position: -210px -54px}
.NU {width:24px; height:24px; background-position: -184px -54px}
.NZ {width:24px; height:24px; background-position: -158px -54px}
.OM {width:24px; height:24px; background-position: -132px -54px}
.PA {width:24px; height:24px; background-position: -106px -54px}
.PE {width:24px; height:24px; background-position: -80px -54px}
.PF {width:24px; height:24px; background-position: -54px -470px}
.PG {width:24px; height:24px; background-position: -54px -444px}
.PH {width:24px; height:24px; background-position: -54px -418px}
.PK {width:24px; height:24px; background-position: -54px -392px}
.PL {width:24px; height:24px; background-position: -54px -366px}
.PN {width:24px; height:24px; background-position: -54px -340px}
.PR {width:24px; height:24px; background-position: -54px -314px}
.PS {width:24px; height:24px; background-position: -54px -288px}
.PT {width:24px; height:24px; background-position: -54px -262px}
.PW {width:24px; height:24px; background-position: -54px -236px}
.PY {width:24px; height:24px; background-position: -54px -210px}
.QA {width:24px; height:24px; background-position: -54px -184px}
.RO {width:24px; height:24px; background-position: -54px -158px}
.RS {width:24px; height:24px; background-position: -54px -132px}
.RU {width:24px; height:24px; background-position: -54px -106px}
.RW {width:24px; height:24px; background-position: -54px -80px}
.SA {width:24px; height:24px; background-position: -54px -54px}
.SB {width:24px; height:24px; background-position: -470px -28px}
.SC {width:24px; height:24px; background-position: -444px -28px}
.SD {width:24px; height:24px; background-position: -418px -28px}
.SE {width:24px; height:24px; background-position: -392px -28px}
.SG {width:24px; height:24px; background-position: -366px -28px}
.SH {width:24px; height:24px; background-position: -340px -28px}
.SI {width:24px; height:24px; background-position: -314px -28px}
.SK {width:24px; height:24px; background-position: -288px -28px}
.SL {width:24px; height:24px; background-position: -262px -28px}
.SM {width:24px; height:24px; background-position: -236px -28px}
.SN {width:24px; height:24px; background-position: -210px -28px}
.SO {width:24px; height:24px; background-position: -184px -28px}
.SR {width:24px; height:24px; background-position: -158px -28px}
.SS {width:24px; height:24px; background-position: -132px -28px}
.ST {width:24px; height:24px; background-position: -106px -28px}
.SV {width:24px; height:24px; background-position: -80px -28px}
.SY {width:24px; height:24px; background-position: -54px -28px}
.SZ {width:24px; height:24px; background-position: -28px -470px}
.TC {width:24px; height:24px; background-position: -28px -444px}
.TD {width:24px; height:24px; background-position: -28px -418px}
.TF {width:24px; height:24px; background-position: -28px -392px}
.TG {width:24px; height:24px; background-position: -28px -366px}
.TH {width:24px; height:24px; background-position: -28px -340px}
.TJ {width:24px; height:24px; background-position: -28px -314px}
.TK {width:24px; height:24px; background-position: -28px -288px}
.TL {width:24px; height:24px; background-position: -28px -262px}
.TM {width:24px; height:24px; background-position: -28px -236px}
.TN {width:24px; height:24px; background-position: -28px -210px}
.TO {width:24px; height:24px; background-position: -28px -184px}
.TR {width:24px; height:24px; background-position: -28px -158px}
.TT {width:24px; height:24px; background-position: -28px -132px}
.TV {width:24px; height:24px; background-position: -28px -106px}
.TW {width:24px; height:24px; background-position: -28px -80px}
.TZ {width:24px; height:24px; background-position: -28px -54px}
.UA {width:24px; height:24px; background-position: -28px -28px}
.UG {width:24px; height:24px; background-position: -470px -2px}
.US {width:24px; height:24px; background-position: -444px -2px}
.UY {width:24px; height:24px; background-position: -418px -2px}
.UZ {width:24px; height:24px; background-position: -392px -2px}
.VA {width:24px; height:24px; background-position: -366px -2px}
.VC {width:24px; height:24px; background-position: -340px -2px}
.VE {width:24px; height:24px; background-position: -314px -2px}
.VG {width:24px; height:24px; background-position: -288px -2px}
.VI {width:24px; height:24px; background-position: -262px -2px}
.VN {width:24px; height:24px; background-position: -236px -2px}
.VU {width:24px; height:24px; background-position: -210px -2px}
.WF {width:24px; height:24px; background-position: -184px -2px}
.WS {width:24px; height:24px; background-position: -158px -2px}
.YE {width:24px; height:24px; background-position: -132px -2px}
.YT {width:24px; height:24px; background-position: -106px -2px}
.ZA {width:24px; height:24px; background-position: -80px -2px}
.ZM {width:24px; height:24px; background-position: -54px -2px}
.ZW {width:24px; height:24px; background-position: -28px -2px}
._abkhazia {width:24px; height:24px; background-position: -2px -470px}
._basque-country {width:24px; height:24px; background-position: -2px -444px}
._british-antarctic-territory {width:24px; height:24px; background-position: -2px -418px}
._commonwealth {width:24px; height:24px; background-position: -2px -392px}
._england {width:24px; height:24px; background-position: -2px -366px}
._gosquared {width:24px; height:24px; background-position: -2px -340px}
._kosovo {width:24px; height:24px; background-position: -2px -314px}
._mars {width:24px; height:24px; background-position: -2px -288px}
._nagorno-karabakh {width:24px; height:24px; background-position: -2px -262px}
._nato {width:24px; height:24px; background-position: -2px -236px}
._northern-cyprus {width:24px; height:24px; background-position: -2px -210px}
._olympics {width:24px; height:24px; background-position: -2px -184px}
._red-cross {width:24px; height:24px; background-position: -2px -158px}
._scotland {width:24px; height:24px; background-position: -2px -132px}
._somaliland {width:24px; height:24px; background-position: -2px -106px}
._south-ossetia {width:24px; height:24px; background-position: -2px -80px}
._united-nations {width:24px; height:24px; background-position: -2px -54px}
._unknown {width:24px; height:24px; background-position: -2px -28px}
._wales {width:24px; height:24px; background-position: -2px -2px}
