@font-face {
	font-family: 'reflectionglyphs';
	src: url('../font/reflectionglyphs.eot?48140115');
	src: url('../font/reflectionglyphs.eot?48140115#iefix')
		format('embedded-opentype'),
		url('../font/reflectionglyphs.woff?48140115') format('woff'),
		url('../font/reflectionglyphs.ttf?48140115') format('truetype'),
		url('../font/reflectionglyphs.svg?48140115#reflectionglyphs')
		format('svg');
	font-weight: normal;
	font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'reflectionglyphs';
    src: url('../font/reflectionglyphs.svg?48140115#reflectionglyphs') format('svg');
  }
}
*/
[class ^="icon-"]:before, [class *=" icon-"]:before {
	font-family: "reflectionglyphs";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	/* opacity: .8; */
	/* For safety - reset parent styles, that can break glyph codes*/
	font-variant: normal;
	text-transform: none;
	/* fix buttons height, for twitter bootstrap */
	line-height: 1em;
	/* Animation center compensation - margins should be symmetric */
	/* remove if not needed */
	margin-left: .2em;

	/* you can be more comfortable with increased icons size */
/* font-size: 120%; */
/* Uncomment for 3D effect */
/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-facebook-squared:before {
	content: '\e800';
} /* '' */
.icon-linkedin-rect:before {
	content: '\e801';
} /* '' */
.icon-calendar:before {
	content: '\e802';
} /* '' */
.icon-star:before {
	content: '\e803';
} /* '' */
.icon-star-empty:before {
	content: '\e804';
} /* '' */
.icon-star-half:before {
	content: '\e805';
} /* '' */
.icon-star-half-alt:before {
	content: '\e806';
} /* '' */
.icon-download-alt:before {
	content: '\e807';
} /* '' */
.icon-list-numbered:before {
	content: '\e808';
} /* '' */
.icon-list:before {
	content: '\e809';
} /* '' */
.icon-link-ext:before {
	content: '\e80a';
} /* '' */
.icon-menu:before {
	content: '\e80b';
} /* '' */
.icon-globe:before {
	content: '\e80c';
} /* '' */
.icon-basket-alt:before {
	content: '\e80d';
} /* '' */
.icon-help-circled:before {
	content: '\e80e';
} /* '' */
.icon-dollar:before {
	content: '\e80f';
} /* '' */
.icon-plus:before {
	content: '\e810';
} /* '' */
.icon-link:before {
	content: '\e811';
} /* '' */
.icon-unlink:before {
	content: '\e812';
} /* '' */
.icon-superscript:before {
	content: '\e813';
} /* '' */
.icon-subscript:before {
	content: '\e814';
} /* '' */
.icon-minus:before {
	content: '\e815';
} /* '' */
.icon-strike:before {
	content: '\e816';
} /* '' */
.icon-list-bullet:before {
	content: '\e817';
} /* '' */
.icon-underline:before {
	content: '\e818';
} /* '' */
.icon-indent-left:before {
	content: '\e819';
} /* '' */
.icon-indent-right:before {
	content: '\e81a';
} /* '' */
.icon-align-right:before {
	content: '\e81b';
} /* '' */
.icon-align-center:before {
	content: '\e81c';
} /* '' */
.icon-align-left:before {
	content: '\e81d';
} /* '' */
.icon-font:before {
	content: '\e81e';
} /* '' */
.icon-bold:before {
	content: '\e81f';
} /* '' */
.icon-italic:before {
	content: '\e820';
} /* '' */
.icon-picture:before {
	content: '\e821';
} /* '' */
.icon-eraser:before {
	content: '\e822';
} /* '' */
.icon-chart-pie:before {
	content: '\e823';
} /* '' */
.icon-chart-bar:before {
	content: '\e824';
} /* '' */
.icon-angle-down:before {
	content: '\e825';
} /* '' */
.icon-angle-right:before {
	content: '\e826';
} /* '' */
.icon-angle-left:before {
	content: '\e827';
} /* '' */
.icon-heart:before {
	content: '\e828';
} /* '' */
.icon-search:before {
	content: '\e829';
} /* '' */
.icon-twitter:before {
	content: '\e82a';
} /* '' */
.icon-angle-up:before {
	content: '\e82b';
} /* '' */
.icon-emo-happy:before {
	content: '\e82c';
} /* '' */
.icon-fire:before {
	content: '\e82d';
} /* '' */
.icon-emo-cry:before {
	content: '\e82e';
} /* '' */
.icon-down-open-big:before {
	content: '\e82f';
} /* '' */
.icon-phone:before {
	content: '\e830';
} /* '' */
.icon-ok:before {
	content: '\e831';
} /* '' */
.icon-users:before {
	content: '\e832';
} /* '' */
.icon-login:before {
	content: '\e833';
} /* '' */
.icon-help:before {
	content: '\e834';
} /* '' */
.icon-cancel-1:before {
	content: '\e835';
} /* '' */
.icon-logout:before {
	content: '\e836';
} /* '' */
.icon-right-small:before {
	content: '\e837';
} /* '' */
.icon-lock-alt:before {
	content: '\e838';
} /* '' */
.icon-mail:before {
	content: '\e839';
} /* '' */
.icon-up:before {
	content: '\e83a';
} /* '' */
.icon-location:before {
	content: '\e83b';
} /* '' */
.icon-up-open-big:before {
	content: '\e83c';
} /* '' */