<!-- <div class="grid-container"> -->
	<footer id="js-component-import--global-header" class="global-footer">
		<ul class="grid__column grid__column--one-third grid__column--push-one">
			<li><a href="home.html">Home</a></li>
			<li><a href="leaderboard.html">Leaderboard</a></li>
			<li><a href="product.html">Product</a></li>
			<li><a href="pricing.html">Pricing</a></li>
			<li><a href="blog.html">Blog</a></li>
		</ul>
		<ul class="grid__column grid__column--one-third">
			<li><a href="about.html">About Us</a></li>
			<li><a href="contact.html">Contact Us</a></li>
			<li><a href="careers.html">Careers</a></li>
			<li><a href="faqs.html">FAQs</a></li>
			<li><a href="terms.html">Terms &amp; Conditions</a></li>
		</ul>
		<ul class="grid__column grid__column--one-quarter">
			<li class="social-link"><a href="https://twitter.com/reflectionio" class="ref-icon-before ref-icon-before--twitter" target=_"blank"><span>Twitter</span></a></li>
			<li class="social-link"><a href="https://www.linkedin.com/company/reflection-io-ltd" class="ref-icon-before ref-icon-before--linkedin" target=_"blank"><span>LinkedIn</span></a></li>
		</ul>
		<p>&copy; 2015 Reflection.io. All Rights Reserved</p>
	</footer>
<!-- </div> -->