<!-- <header class="global-header"> -->
	<div class="hamburger">
		<button class="hamburger__button ref-icon-before ref-icon-before--hamburger js-hamburger-button"></button>
	</div>
	<div class="site-logo">
		<a href="/">
			<img src="images/v2/logo-reflection-header.png" alt="Reflection logo" class="img-site-logo" />
			<img src="images/logo-reflection-header-mobile.png" alt="Reflection logo" class="img-site-logo--mobile" />
		</a>
	</div>
	<div class="global-header__actions">
		<div class="search-link-container js-search-container">
			<a href="#" class="ref-icon-after ref-icon-after--search link-open-search js-open-search">Find App or Developer</a>
		</div>
		<div class="link-log-in-container js-link-log-in-container">
			<a href="#" class="link-log-in js-link-log-in">Log In</a>
		</div>	
		<a href="apply.html" class="ref-button--cta-small">Sign Up</a>
	</div>
<!-- </header> -->