<!-- <div class="panel-left"> -->
	<nav class="main-navigation js-main-nav js-main-navigation" role="navigation">
		<ul>
			<li><a href="#">Overview</a></li>
			<li><a href="#">Brand</a></li>
			<li class="has-child js-is-collapsible"><a href="#">Design Assets</a>
				<ul>
					<li><a href="colours.html">Colours</a></li>
					<li><a href="typography.html">Typography</a></li>
					<li class="has-child js-is-collapsible">
						<a href="#">Menu demo</a>
						<ul>
							<li><a href="#">Dolor Amet Lorem</a></li>
							<li><a href="#">Lorem Ipsum Dolor</a></li>
						</ul>
					</li>
				</ul>
			</li>
			<li><a href="grids.html">Grid &amp; Breakpoints</a></li>
			<li class="has-child js-is-collapsible">
				<a href="#">UI Components</a>
				<ul>
					<li><a href="buttons.html">Buttons</a></li>
					<li><a href="tabs.html">Tabs</a></li>
					<li><a href="forms.html">Form Fields</a></li>
					<li><a href="popups.html">Pop Ups</a></li>
				</ul>
			</li>
			<li class="has-child js-is-collapsible">
				<a href="#">UI Transitions</a>
				<ul>
					<li><a href="interactions.html">Interactions Overview</a></li>
					<li><a href="loading-indicators.html">Loading Indicators</a></li>
				</ul>
			</li>
			<li class="has-child js-is-collapsible">
				<a href="#">Charts</a>
				<ul>
					<li><a href="highcharts.html">Highcharts</a></li>
					<li><a href="am-charts.html">AM Charts</a></li>
				</ul>
			</li>
			<li class="has-child js-is-collapsible">
				<a href="#">Page Templates</a>
				<ul>
					<li><a href="about.html">About Us</a></li>
					<li><a href="account-settings.html">Account Settings</a></li>
					<li><a href="account-setup.html">Account Setup</a></li>
					<li><a href="app.html">App Page</a></li>
					<li><a href="app-no-data.html">App No Data</a></li>
					<li><a href="apply.html">Apply</a></li>					
					<li><a href="blog.html">Blog</a></li>
					<li><a href="blog-article.html">Blog Article</a></li>
					<li><a href="careers.html">Careers</a></li>
					<li><a href="contact.html">Contact Us</a></li>
					<li><a href="faqs.html">FAQs</a></li>
					<li><a href="general-content.html">General Content</a></li>					
					<li><a href="leaderboard.html">Leaderboard</a></li>
					<li><a href="leaderboard-loading.html">Leaderboard Loading</a></li>
					<li><a href="linked-accounts.html">Linked Accounts</a></li>
					<li><a href="logged-in-landing.html">Logged-in Landing</a></li>
					<li><a href="home.html">Logged-out Landing</a></li>
					<li><a href="my-apps.html">My Apps</a></li>
					<li><a href="my-apps-coming-soon.html">My Apps - Coming Soon</a></li>
					<li><a href="my-apps-loading.html">My Apps Loading</a></li>
					<li><a href="my-apps-none.html">My Apps - None</a></li>					
					<li><a href="no-linked-accounts.html">No Linked Account</a></li>
					<li><a href="press.html">Press</a></li>
					<li><a href="pricing.html">Pricing</a></li>
					<li><a href="product.html">Product</a></li>
					<li><a href="reset-password.html">Reset Password</a></li>
					<li><a href="site-maintenance.html">Site Maintenance</a></li>
					<li><a href="account-settings.html">Subscription</a></li>
					<li><a href="terms.html">Terms &amp; Conditions</a></li>											
					<li><a href="404.html">404 Error</a></li>
				</ul>
			</li>
			<li class="has-child js-is-collapsible">
				<a href="#">
					<svg version=1.1 x=0px y=0px viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space=preserve><path id=Admin fill-rule=evenodd clip-rule=evenodd fill=#5A5A68 d="M24.4,4.4c0,0.8-0.6,1.4-1.4,1.4H4.4
	C3.6,5.8,3,5.2,3,4.4l0,0C3,3.6,3.6,3,4.4,3H23C23.7,3,24.4,3.6,24.4,4.4L24.4,4.4z M29,9c0,0.8-0.6,1.4-1.4,1.4H4.4
	C3.6,10.4,3,9.8,3,9l0,0c0-0.8,0.6-1.4,1.4-1.4h23.2C28.4,7.6,29,8.3,29,9L29,9z M19.7,18.3c0,0.8-0.6,1.4-1.4,1.4H4.4
	c-0.8,0-1.4-0.6-1.4-1.4l0,0c0-0.8,0.6-1.4,1.4-1.4h13.9C19.1,16.9,19.7,17.6,19.7,18.3L19.7,18.3z M24.4,23c0,0.8-0.6,1.4-1.4,1.4
	H4.4C3.6,24.4,3,23.7,3,23l0,0c0-0.8,0.6-1.4,1.4-1.4H23C23.7,21.6,24.4,22.2,24.4,23L24.4,23z M24.4,13.7c0,0.8-0.6,1.4-1.4,1.4
	H4.4c-0.8,0-1.4-0.6-1.4-1.4l0,0c0-0.8,0.6-1.4,1.4-1.4H23C23.7,12.3,24.4,12.9,24.4,13.7L24.4,13.7z M29,27.6
	c0,0.8-0.6,1.4-1.4,1.4H4.4C3.6,29,3,28.4,3,27.6l0,0c0-0.8,0.6-1.4,1.4-1.4h23.2C28.4,26.2,29,26.8,29,27.6L29,27.6z"/></svg>
					<span>Admin</span>
				</a>
				<ul>
					<li><a href="feed-browser.html">Feed Browser</a></li>
					<li><a href="simple-modal-run.html">Simple Modal Run</a></li>
					<li><a href="items.html">Items</a></li>
					<li><a href="categories.html">Categories</a></li>
					<li><a href="users.html">Users</a></li>
					<li><a href="roles.html">Roles</a></li>
					<li><a href="permissions.html">Permissions</a></li>
					<li><a href="data-accounts.html">Data accounts</a></li>
					<li><a href="data-account-fetches.html">Data account fetches</a></li>
					<li><a href="events.html">Events</a></li>
					<li><a href="event-subscriptions.html">Event Subscriptions</a></li>
					<li><a href="send-notification.html">Send Notification</a></li>
					<li><a href="blog-admin.html">Blog Admin</a></li>					
				</ul>
			</li>
		</ul>
	</nav>	
	<!-- <div class="main-footer-links">
		<ul>
			<li class="is-selected"><a href="#">Contact Us</a></li>
			<li><a href="#">Terms &amp; Conditions</a></li>
			<li><a href="#">Privacy</a></li>
			<li><a href="#">Sitemap</a></li>
		</ul>
	</div>
	<ul class="main-social-links">
		<li><a href="#" class="ref-icon-before ref-icon-before--facebook" onclick="return false;"><span>Facebook</span></a></li>
		<li><a href="#" class="ref-icon-before ref-icon-before--twitter" onclick="return false;"><span>Twitter</span></a></li>
	</ul> -->
<!-- </div> -->