// Styles for IE 8 and lower.
 
// Set the legacy IE support variables. These override the !default values set
// in _init.scss.
$legacy-support-for-ie6 : false;
$legacy-support-for-ie7 : false;
$legacy-support-for-ie8 : true;
 
// Force the breakpoint mixin to discard all media queries except ones with
// $no-query set to true. Since we use the default values in styles.scss,
// we don't need to set these in _init.scss.
$breakpoint-no-queries  : true;
$breakpoint-no-query-fallbacks : true;

@import "base/base";

/* Left panel */
.panel-left-open .panel-left {
	position: absolute;
	overflow: auto;
}

/* Layout */
.l-main {
	width: 100%;
	min-height: 1000px;
}
.l-page-container {
	overflow: auto;
	overflow-x: hidden;
}

/* Hamburger */
.hamburger__button {
	position: inherit !important;
}

/* Search overlay */
.search__form {
	.button-cancel {
		height: auto;
		width: auto;
		padding: 0;
		display: inline-block;
		&:before {
			display: none;
		}
		span {
			text-transform: uppercase;
			font-size: 14px;
			font-weight: bold;
			color: #b5b8c5;
			text-indent: 0;
		}
	}
}
/* Typography */
blockquote {
	padding-top: 50px;
	&:before {
		top: 0;
	}
}
ul.content-list,
ul.content-list--featured,
ul.content-list--minor {
	li {
		background: url(../images/bg-bullet-nr.png) no-repeat left 0.6em;
	}
}

/* Buttons */
.ref-button--link,
.ref-button--link-large {
	overflow: visible;
}
.ref-button--cta-large,
.ref-button--cta-large--wide,
.ref-button--function-large,
.ref-button--function-large--wide {
	font-size: 16px;
}

/* Tabs */
.tabs__content {
	display: none;
	background-color: $panel-grey;
}
.tabs__content.tabs__content--is-showing {
	display: block;
}
.tabs__link {
	font-size: 14px;
}
.tabs-container--large-tabs .tabs__link span:before {
	font-size: 38px;
}
.tabs-container {
	li {
		padding-top: 15px;
		padding-bottom: 25px;
	}
}
.tabs-container.tabs-container--large-tabs li .tabs__link {
	padding-top: 30px;
	padding-bottom: 10px;
}
.tabs__content-container {
	margin-bottom: 40px;
}

/* Form elements */
.calendar-container + .form-field--checkbox-list,
.calendar-container + .form-field--radio-list {
	margin-top: 8px;
}
.dateBoxPopup {
	top: 42px;
}
.form-field {
	margin-bottom: 8px;
	label {
		padding-top: 2px;
		font-size: 12px;
	}
	input[type="text"],
	input[type="email"],
	input[type="search"],
	input[type="password"] {
		font-size: 14px;
	}
	&.is-closed {
		label {
			font-size: 14px;
		}
	}
}
.reflection-select {
	span, li {
		font-size: 14px;
	}
	&:after {
		font-size: 18px;
	}
	ul {
		margin-top: 8px;
		padding-bottom: 14px;
	}
	li {
		margin-bottom: 18px;
		padding-left: 16px;
		.no-touch & {
			margin-bottom: 14px;
		}
		&.pre-selected {
			position: relative;
			padding-right: 60px;
			&:after {
				content: 'Selected';
				position: absolute;
				top: 1px;
				right: 5px;
				font-size: 12px;
			}
			&:before {
				@extend %icon-font;
				content: "t";
				position: absolute;
				top: 1px;
				left: -1px;
				font-size: 12px;
			}
		}
	}
}
.form-field--checkbox-list,
.form-field--radio-list {
	* {
		overflow: visible;
	}
	position: relative;
	width: 100%;
	margin-top: 18px;
	ul {
		padding-bottom: 9px;
		.reflection-select & {
			padding-bottom: 2px;
		}
	}
	li {
		position: relative;
		margin-bottom: 8px;
	}
	input[type=checkbox],
	input[type=radio] {
		left: 0;
	}
	label.checkboxLabel {
		display: none;
	}
	label.radioButtonLabel {
		display: none;
	}
}
label.checkboxLabelVisible,
label.checkboxLabelVisibleDisabled,
label.radioButtonLabelVisible,
label.radioButtonLabelVisibleDisabled {
	padding-left: 31px;
	font-family: $brand-heading-font;
	font-size: 13px;
}
.form-field--select {
	padding-bottom: 10px;
	select {
		display: block;
	}
}

/* Design Kit Templates */
// Grid
.grid-demo-layer-top {
	padding-bottom: 40px;
}
// Colours
.dk-component-row .colour-box {
	margin-bottom: 0;
}
// Interactions
.interactions-page .grid__column--one-third {
	h4 {
		margin-bottom: 19px;
	}
	button {
		margin-bottom: 30px;
	}
}
.interactions-page .grid__column--one-third .main-navigation {
	margin-bottom: 30px;
}

// Account pages
.account-access-page {
	height: 1000px;
}
.account-access-content {
	position: relative;
	top: 75px;
}
.account-connect-animation {
	display: none;
}

/* Site Templates */
// Apply and Login, Account Setup
// Transition between forms
.account-access-page {
	.tabs__content--is-showing .js-rotate-content,
	.tabs__content--is-showing .form--login .js-rotate-content,
	.tabs__content--is-showing.show-reset-password-form .form--password-reset .js-rotate-content,
	.create-password-form-is-showing .account-form-container .create-password-content .js-rotate-content,
	.connect-account-is-showing .account-form-container .connect-account-content .js-rotate-content {
		display: block;
	}
	.js-rotate-content,
	.form-submitted-success-complete.connect-account-is-showing .account-form-container .js-rotate-content:not(.maintain-after-submit),
	.tabs__content--is-showing.tabs__content--is-submitted .js-rotate-content:not(.maintain-after-submit),
	.tabs__content--is-showing .form--password-reset .js-rotate-content,
	.tabs__content--is-showing.show-reset-password-form .form--login .js-rotate-content,
	.tabs__content--is-showing.tabs__content--is-submitted.show-reset-password-form .js-rotate-content:not(.maintain-after-submit) {
		display: none;
	}
	.will-show .js-rotate-content,
	.tabs__content--is-showing.show-reset-password-form.will-show .form--login .js-rotate-content,
	.connect-account-is-showing .account-form-container .connect-account-content.will-show .js-rotate-content {
		display: none;
	}
	.js-fade-content,
	.form-submitted-success-complete.connect-account-is-showing .account-form-container .js-fade-content:not(.maintain-after-submit),
	.tabs__content--is-showing.tabs__content--is-submitted .js-fade-content:not(.maintain-after-submit),
	.tabs__content--is-showing .form--password-reset .js-fade-content,
	.tabs__content--is-showing.show-reset-password-form .form--login .js-fade-content,
	.tabs__content--is-showing.tabs__content--is-submitted.show-reset-password-form .js-fade-content:not(.maintain-after-submit) {
		display: none;
	}
	.tabs__content--is-showing .js-fade-content,
	.tabs__content--is-showing .form--login .js-fade-content,
	.tabs__content--is-showing.show-reset-password-form .form--password-reset .js-fade-content,
	.create-password-form-is-showing .account-form-container .create-password-content .js-fade-content,
	.connect-account-is-showing .account-form-container .connect-account-content .js-fade-content {
		display: block;
	}
	.form-submitted-success.is-showing {
		position: relative;
		padding: 20px 0 30px;
	}
	.tabs__content--is-showing.tabs__content--is-submitted .js-fade-content,
	.tabs__content--is-showing.tabs__content--is-submitted .js-rotate-content {
		display: none;
	}
}
.login-content {
	display: none;
	.login-form-is-showing & {
		display: block;
	}
}
.apply-content {
	display: none;
	.apply-form-is-showing & {
		display: block;
	}
}
.account-form-container .tabs__content .form--password-reset {
	display: none;
}
.account-access-page .tabs__content form {
	padding-bottom: 20px;
}
.account-access-page .tabs-container li {
	padding-bottom: 25px !important;
	padding-top: 15px !important;
}
.account-setup-content-wrapper {
	min-height: 760px;
}
.account-setup-content-wrapper .form-submitted-success {
	height: 80px;
	svg {
		display: none;
	}
}
.account-form-container {
	padding-bottom: 100px;
}