.global-header {
	position: fixed;
	width: 100%;
	height: 42px;
	z-index: 1000;
	font-size: 0;
	background-color: $dark-grey-2;
	@include breakpoint($phablet, true) {
		height: 62px;
	}
	.site-logo {
		width: 19px;
		margin-top: 9px;
		margin-left: 16px;
		vertical-align: top;
		@include breakpoint($phablet) {
			margin-top: 20px;
		}
		@include breakpoint($tablet, true) {
			width: 122px;
			margin-top: 17px;
			margin-left: 31px;
		}
		img {
			width: 100%;
		}
	}
	.ref-button--cta-small--wide {
		display: none;
		@include breakpoint($tablet) {
			margin-top: 13px;
			margin-right: 20px;
			display: inline-block;
			vertical-align: top;
			font-size: 13px;
		}
	}
	.search-link-container {
		height: 42px;
		width: 58px;
		padding: 0;
		margin: 0;
		display: inline-block;
		vertical-align: top;
		background-color: #282b36;
		@include breakpoint($phablet) {
			width: 62px;
			height: 62px;
			border-left: 1px solid #1e2027;
		}
		@include breakpoint($tablet, true) {
			width: 77px;
		}
	}
	.link-open-search {
		display: block;
		text-align: center;
		border: none;
		background-color: #363a47;
		@extend %font-smoothing;
		outline: none;
		&:before {
			position: relative;
			top: -1px;
			font-size: 22px;
			line-height: 42px;
			color: $mid-grey-2;
			vertical-align: top;
			@include transition(color $base-transition-speed-off);
			@include breakpoint($phablet) {
				line-height: 62px;
			}
		}
		&:hover {
			background-color: #323643;
			&:before {
				color: #fff;
				@include transition(color $base-transition-speed-on);
			}
		}
		&:active {
			position: relative;
			top: 2px;
		}
		&.is-selected {
			&:before {
				color: #fff;
			}
		}
		span {
			text-align: left;
			text-indent: -999em;
		}
	}
	.actions-group-container {
		position: relative;
		width: 53px;
		height: 42px;
		display: inline-block;
		float: right;
		vertical-align: top;
		border-left: 1px solid #1e2027;
		background-color: #282b36;
		@include breakpoint($phablet) {
			width: 62px;
			height: 62px;
		}
		@include breakpoint($tablet, true) {
			height: 62px;
			width: auto;
			border-left: none;
		}
	}
	.actions-group {
		position: relative;
		width: 53px;
		height: 42px;
		display: inline-block;
		vertical-align: top;
		background-color: $dark-grey-2;
		&.is-on {
			&:before {
				color: $light-grey-2;
				@include transform(rotate(-90deg));
				@include transition(transform 0.32s);
			}
		}
		&.is-on:hover {
			&:before {
				color: $light-grey-2;
			}
		}
		&:before {
			position: absolute;
			top: 0;
			left: 0;
			width: 50px;
			line-height: 40px;
			font-size: 24px;
			color: #6f7589;
			text-align: center;
			@include box-sizing(border-box);
			@include transition(color $base-transition-speed-off, transform 0.3s);
		}
		@include breakpoint($phablet) {
			width: 62px;
			height: 62px;
			&:before {
				width: 61px;
				line-height: 60px;
			}
		}
		@include breakpoint($tablet, true) {
			height: 62px;
			width: auto;
			overflow: hidden;
			&:before {
				display: none;
			}
		}
	}
	.actions-group__content {
		display: none;
		@include breakpoint($tablet, true) {
			position: relative;
			top: 0;
			display: inline-block;
		}
	}
}
@media screen and (max-width: $tablet) {
	.global-header .actions-group {
		cursor: pointer;
		&:hover, &:active {
			background-color: #323643;
			&:before {
				color: #83899c;
			}
		}
		&:active {
			position: relative;
			top: 2px;
		}
		&.is-selected:before {
			color: $light-grey-2;
		}
	}
}
.global-header__actions {
	display: inline-block;
	float: right;
	overflow: hidden;
}
.link-log-in-container {
	display: inline-block;	
	background-color: #282b36;
}
.link-log-in {
	position: relative;
	height: 62px;
	padding-top: 23px;
	padding-right: 30px;
	padding-left: 29px;
	display: inline-block;
	vertical-align: top;
	font-family: $brand-heading-font;
	font-size: 13px;
	font-weight: 600;
	color: $light-grey-1;
	background-color: $dark-grey-2;
	@include box-sizing(border-box);
	&:hover, &:active {
		color: $reflection-white;
		background: #323643;
	}
	&.is-selected {
		color: $reflection-white;
	}
	&:active {
		top: 2px;
	}
	@include breakpoint($tablet, true) {
		border-left: 1px solid #1e2027;
	}
}