.hamburger {
	display: inline-block;
	border-right: 1px solid #1e2027;
	background-color: #282b36;
}
.hamburger__button {
	position: relative;
	top: 0;
	width: 50px;
	height: 42px;
	display: block;
	border: none;
	background-color: $dark-grey-2;
	outline: none;
	cursor: pointer;
	@include transition(top 0.3s, background-color $base-transition-speed-off);
	@include breakpoint($phablet, true) {
		width: 58px;
		height: 62px;
	}
	@include breakpoint($tablet, true) {
		width: 78px;
	}
	&:before {
		position: absolute;
		top: 0;
		left: 0;
		width: 50px;
		padding: 0;
		font-size: 18px;
		line-height: 42px;
		color: #6f7589;
		text-align: center;
		@include box-sizing(border-box);
		@include transition(color $base-transition-speed-off);
		@include breakpoint($phablet, true) {
			width: 58px;
			height: 62px;
			line-height: 62px;
		}
		@include breakpoint($tablet, true) {
			width: 78px;			
		}
	}
	&:hover {
		background-color: #323643;
		@include transition(background-color $base-transition-speed-on, color $base-transition-speed-on);
		&:before {
			color: #83899c;
			@include transition(background-color $base-transition-speed-on, color $base-transition-speed-on);
		}
	}
	&:active {
		top: 2px;
		background-color: #323643;
		@include transition(background-color $base-transition-speed-on);
		&:before {
			color: #83899c;
		}
	}
	&.is-selected {
		&:before {
			color: $reflection-white;
			@include transition(color $base-transition-speed-on);
		}
	}
}