$white-navigation: $reflection-white;
$grey-hover: #bec2d2;
$blur-opacity: 0.5;

.main-navigation {
	width: 100%;
	padding: 27px 0 23px;
	background-color: $dark-grey-1;
	a {
		@include transition(all $base-transition-speed-off, text-shadow 0.3s);
		svg {
			width: 19px;
			height: 19px;
			vertical-align: middle;
			path {
				fill: $mid-grey-1;
				@include transition(fill $base-transition-speed-off);
			}
		}
		span {
			display: inline-block;
			vertical-align: middle;
			padding-left: 20px;
		}
		&:hover {
			svg path {
				fill: #ffffff;
				@include transition(fill $base-transition-speed-on);
			}
		}
	}
	li.is-selected a svg path {
		fill: #ffffff;
	}
	> ul {
		> li {
			margin-bottom: 4px;
			@include font-size(12px);
			line-height: 1.5;
			font-weight: 700;			
			> a {				
				float: left;
				width: 100%;
				padding-left: 28px;
				text-transform: uppercase;
				background-color: $dark-grey-1;
			}
			&.is-selected {
				> a {
					color: $white-navigation;
					background-color: $reflection-purple;
					.is-animating-out & {
						text-shadow: 4px 0px 1px rgba(252,253,253, $blur-opacity);
					}
					.is-animating-in & {
						text-shadow: -4px 0px 1px rgba(252,253,253, $blur-opacity);
					}
					&:hover {
						color: $white-navigation;
					}
				}
			}
			> ul {
				display: block;
				z-index: 0;
				@include transition(margin-top 0.16s ease-in);
			}
			&.is-open {
				background-color: $dark-grey-2;
				> ul {
					position: relative;
					margin-top: 0;
					z-index: 0;
					@include transition(margin-top 0.2s ease-out);
				}
			}
		}
	}
	> ul ul {
		width: 100%;
		display: none;
		float: left;
		background-color: $dark-grey-2;
		li {
			position: relative;
			z-index: 1;
			font-size: 13px;
			&.is-selected {
				> a {
					color: $white-navigation;
					.is-animating-out & {
						text-shadow: 4px 0px 1px rgba(252,253,253, $blur-opacity);
					}
					.is-animating-in & {
						text-shadow: -4px 0px 1px rgba(252,253,253, $blur-opacity);
					}
					&:hover {
						color: $white-navigation;
					}
				}
			}
			&.has-child {
				@extend .ref-icon-after;
				@extend .ref-icon-after--dot;
				line-height: 1.5;
				&:after {
					position: absolute;
					right: 9px;
					top: 5px;
					z-index: 10;
					font-size: 12px;
					color: #53586c;
					@include transition(color 0.2s);
				}
				&.is-open {
					&:after {
						color: #7e79e2;
						@include transition(color 0.33s);
						.is-animating-out & {
							text-shadow: 4px 0px 1px rgba(109,105,197, $blur-opacity);
						}
						.is-animating-in & {
							text-shadow: -4px 0px 1px rgba(109,105,197, $blur-opacity);
						}
					}
				}
			}
			a {
				padding: 0 38px 15px 29px;
				color: $light-grey-1;
				.is-animating-out & {
					text-shadow: 4px 0px 1px rgba(129,135,157, $blur-opacity);
				}
				.is-animating-in & {
					text-shadow: -4px 0px 1px rgba(129,135,157, $blur-opacity);
				}
				&:hover {
					color: $grey-hover;
				}
			}
			ul {
				background-color: #2e313b;
				display: block;
				@include transition(margin-top 0.16s ease-in);
				a {
					padding-left: 38px;
				}
			}
		}
	}
	> ul > li > ul {
		> li > a {
			background-color: $dark-grey-2;
		}
		> li:first-child {
			margin-top: 22px;
		}
		> li:last-child a {
			padding-bottom: 20px;
		}
		li.is-open {
			+ li {
				margin-top: 22px;
			}
			ul {
				position: relative;
				margin-top: 0;
				padding-top: 14px;
				display: block;
				z-index: 0;
				@include transition(margin-top 0.2s ease-out);
			}
			> a {
				color: #e1e5e8;
				.is-animating-out & {
					text-shadow: 4px 0px 1px rgba(225,229,232, $blur-opacity);
				}
				.is-animating-in & {
					text-shadow: -4px 0px 1px rgba(225,229,232, $blur-opacity);
				}
				&:hover {
					color: #e1e5e8;
				}
			}
		}
	}
	ul ul ul {
		li:first-child {
				margin-top: 8px;
		}
		li:last-child a {
			padding-bottom: 24px;
		}
		li.is-selected {
			> a {
				color: #e1e5e8;
				.is-animating-out & {
					text-shadow: 4px 0px 1px rgba(225,229,232, $blur-opacity);
				}
				.is-animating-in & {
					text-shadow: -4px 0px 1px rgba(225,229,232, $blur-opacity);
				}
				&:hover {
					color: #e1e5e8;
				}
			}
		}
	}
	a {
		position: relative;
		padding: 14px 0px 14px 29px;
		display: block;
		z-index: 10;
		color: #767683;
		@include box-sizing(border-box);
		.is-animating-out & {
			text-shadow: 4px 0px 1px rgba(118,118,131, $blur-opacity);
		}
		.is-animating-in & {
			text-shadow: -4px 0px 1px rgba(118,118,131, $blur-opacity);
		}
		&:hover {
			color: #c6c6d4;
		}
	}
	.ref-icon-before:before {
		position: absolute;
		left: 30px;
		top: 15px;
		font-size: 18px;
	}
}