$form-field-background: #333338;
$blur-opacity: 0.7;

.panel-right-container {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	overflow: hidden;
	z-index: 500;
	-ms-pointer-events: none;
	pointer-events: none;
	&.is-showing {
		overflow: auto;
		overflow-x: hidden;
		-ms-pointer-events: auto;
		pointer-events: auto;
	}
	.no-csstransitions & {
		display: none;
		&.is-showing {
			display: block;
		}
	}
}	
.panel-right__overlay {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: #29292b;
	@include opacity(0);
	visibility: hidden;
	.no-touch & {
		@include transition(opacity 0.18s, visibility 0.01s 0.27s);
	}
	.is-showing & {
		visibility: visible;
		@include opacity(0.5);
		.no-touch & {
			@include transition(opacity 0.27s);
		}
	}
	.no-js & {
		display: none;
	}
}
.panel-right,
.no-js .panel-right {
	position: fixed;
	right: -300px;
	top: 0;
	width: 300px;
	height: 100%;
	padding-top: 42px;
	display: block;
	overflow: auto;
	font-size: 10px;
	background-color: $dark-grey-1;
	overflow: auto;
	.no-touch & {
		@include transition(right 0.18s ease-in);
	}	
	.is-showing & {
		right: 0;
		.no-touch & {
			@include transition(right 0.12s 0.12s ease-out);
		}
	}
	.reflection-form {
		padding: 36px 26px 39px 28px;
		font-family: $brand-heading-font;
	}
	.form-field {
		label {
			font-size: 11.9px;
			.is-animating-out & {
				text-shadow: -4px 0px 1px rgba(252,253,253, $blur-opacity);
			}
			.is-animating-in & {
				text-shadow: 4px 0px 1px rgba(252,253,253, $blur-opacity);
			}
		}
		input {
			font-size: 14px;
			color: $light-grey-1;
			.is-animating-out & {
				text-shadow: -4px 0px 1px rgba(129,135,157, $blur-opacity);
			}
			.is-animating-in & {
				text-shadow: 4px 0px 1px rgba(129,135,157, $blur-opacity);
			}
		}
		&.is-closed {
			label {
				font-size: 14px;
				.is-animating-out & {
					text-shadow: -4px 0px 1px rgba(129,135,157, $blur-opacity);
				}
				.is-animating-in & {
					text-shadow: 4px 0px 1px rgba(129,135,157, $blur-opacity);
				}
			}
		}
	}
	.checkboxLabelVisible {
		font-size: 13px;
	}
	input:-webkit-autofill {
	  .is-animating-out & {
			text-shadow: -4px 0px 1px rgba(129,135,157, $blur-opacity);
		}
		.is-animating-in & {
			text-shadow: 4px 0px 1px rgba(129,135,157, $blur-opacity);
		}
	}
	.form-link {
		margin-bottom: 15px;
		font-size: 13px;
		font-weight: 600;
		.is-animating-out & {
			text-shadow: -4px 0px 1px rgba(109,105,197, $blur-opacity);
		}
		.is-animating-in & {
			text-shadow: 4px 0px 1px rgba(109,105,197, $blur-opacity);
		}
	}
	@include breakpoint($phablet, true) {
		padding-top: 62px;
	}
	.form-field--checkbox {
		label {
			@include font-size(13px);
			.is-animating-out & {
				text-shadow: -4px 0px 1px rgba(114,118,134, $blur-opacity);
			}
			.is-animating-in & {
				text-shadow: 4px 0px 1px rgba(114,118,134, $blur-opacity);
			}
		}
	}
	.ref-button--full-width {
		margin-top: 11px;
		.is-animating-out & {
			text-shadow: -4px 0px 1px rgba(252,253,253, $blur-opacity);
			box-shadow: -4px 0px 1px rgba(109,105,197, $blur-opacity);
		}
		.is-animating-in & {
			text-shadow: 4px 0px 1px rgba(252,253,253, $blur-opacity);
			box-shadow: -4px 0px 1px rgba(109,105,197, $blur-opacity);
		}
	}
	.blockquote-container {
		width: 100%;
		padding: 29px 26px 38px 28px;
		border-top: 1px solid #161617;
		blockquote {
			margin-bottom: 0;
			&:before {
				color: #36363a;
				.is-animating-out & {
					text-shadow: -4px 0px 1px rgba(54,54,58, $blur-opacity);
				}
				.is-animating-in & {
					text-shadow: 4px 0px 1px rgba(54,54,58, $blur-opacity);
				}
			}
			p {
				.is-animating-out & {
					text-shadow: -4px 0px 1px rgba(91,91,104, $blur-opacity);
				}
				.is-animating-in & {
					text-shadow: 4px 0px 1px rgba(91,91,104, $blur-opacity);
				}
			}
			cite {
				.is-animating-out & {
					text-shadow: -4px 0px 1px rgba(114,118,134, $blur-opacity);
				}
				.is-animating-in & {
					text-shadow: 4px 0px 1px rgba(114,118,134, $blur-opacity);
				}
				span {
					color: $reflection-white;
					.is-animating-out & {
						text-shadow: -4px 0px 1px rgba(252,253,253, $blur-opacity);
					}
					.is-animating-in & {
						text-shadow: 4px 0px 1px rgba(252,253,253, $blur-opacity);
					}
				}
			}
		}
	}
}
.no-js .panel-right {
	right: 0;
}