.panel-left {
	position: fixed;
	top: 0;
	width: 220px;
	height: 100vh;
	padding-top: 42px;
	left: -220px;
	display: inline-block;
	z-index: 10;
	float: left;
	overflow: auto;
	font-size: 10px;
	vertical-align: top;
	background-color: $dark-grey-1;	
	@include transition(left 0.15s ease-in, transform 0.15s ease-in, filter 0.27s);
	@include breakpoint($phablet, true) {
		padding-top: 62px;
	}
	&.is-blurred-heavy {
		filter: blur(0.8px);
		@include transition(filter 0.5s);
		.ie8 &, .ie9 & {
			filter: none;
		}
	}
	.panel-left-open & {
		@include breakpoint($laptop, true) {
			left: 0px;
			@include transition(left 0.15s ease-out);
		}
	}
}
@media screen and (max-width: $laptop) {
	.panel-left-open .panel-left {
		@include transform(translateX(220px));
		@include transition(transform 0.15s ease-out);
	}
}
#mCSB_1_scrollbar_vertical {
	z-index: 100;
}
.is-chrome,
.is-opera {
	.panel-left {
		@include transition(none);
		.panel-left-open & {
			@include transition(none);
		}
	}
}