/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:0aa244bf3bf9e09cde443db08e1d8ae6:1/1$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(unknownsprite.png);}

.No_Icon45x45 {width:45px; height:45px; background-position: -2px -79px}
.No_Icon75x75 {width:75px; height:75px; background-position: -2px -2px}
