.button-example-container {
	@include column(8,8);
	margin-bottom: 1em;
	margin-bottom: 1rem;
	overflow: visible;
	@include breakpoint($phablet, true) {
		@include column(4,8);
	}
	button {
		margin-right: 20px;
		margin-bottom: 2em;
		margin-bottom: 2rem;
		float: left;
	}
}
.button-example-container--full-width {
	@include column(8,8);
	margin-bottom: 3em;
	h2 {
		margin-top: 5px;
	}
	+ .button-example-code-container {
		margin-top: 1em;
	}
	@include breakpoint($tablet, true) {
		@include vertical-centre-content;
		h2 {
			width: 49%;
			margin-top: none;
			margin-bottom: 0;
			padding-left: 5%;
			padding-bottom: 0;
		}
		> div {
			width: 50%;
		}
	}
}
.button-example-code-container {
	@include column(8,8);
}
// back to top
.MHXTE6C-ob-a {
	position: fixed;
	right: 39px;
	bottom: 65px;
	a {
		width: 38px;
		height: 38px;
		display: block;
		color: $reflection-purple;
		background-color: #f3f3f6;
		border: 1px solid #dadee1;
		border-radius: 20px;
		opacity: 0;
		cursor: pointer;
		@include transition(color $base-transition-speed-off, background-color $base-transition-speed-off, opacity $base-transition-speed-off);
		.ref-icon-before--angle-up {
			width: 38px;
			padding-top: 4px;
			text-align: center;
			display: inline-block;
			&:before {
				font-size: 26px;
			}
		}
		&.is-showing {
			visibility: visible;
			opacity: 1;
			@include transition(opacity $base-transition-speed-on);
			&:hover {
				background-color: darken(#f3f3f6, 10%);
				color: darken($reflection-purple, 10%);
				@include transition(color $base-transition-speed-on, background-color $base-transition-speed-on);
			}
		}
	}
}