@keyframes easeoutdemo {
	0% { top: 3px; }
	33%, 100% { top: calc(100% - 35px); }
}
@keyframes easeoutdemo-ie {
	0% { top: 3px; }
	33%, 100% { top: 100%; }
}

.easing-section {
	position: relative;
	margin-bottom: 4rem;
}
.easing-figure-container {
	@include column(5,6);
	position: relative;
	padding: 0px 60px 0px 4%;
	@include breakpoint($tablet) {
		padding: 0px 60px 0px 4%;
	}
}
.easing-represenation-container {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0px;
	height: 100%;
	.ie8 &, .ie9 & {
		display: none;
	}
}
.easing-representation {
	position: relative;
	height: 100%;
	width: 36px;
	border-radius: 16px;
	background-color: $panel-grey;
}
.easing-representation__slider {
	position: absolute;
	top: 3px;
	left: 2px;
	height: 32px;
	width: 32px;
	border-radius: 16px;
	background-color: $reflection-purple;
	animation: easeoutdemo 3s infinite;
	animation-delay: 2s;
	animation-timing-function: cubic-bezier(.01,.04,.29,.99); // http://cubic-bezier.com/#.01,.04,.29,.99
	.is-ie & {
		animation: easeoutdemo-ie 3s infinite;
	}
}
.easing-representation__slider--ease-in {
	animation-timing-function: cubic-bezier(.03,.08,.79,-0.15); // http://cubic-bezier.com/#.03,.08,.79,-0.15
	.is-ie & {
		animation-timing-function: cubic-bezier(.03,.08,.79,-0.15);
	}
}
.interactions-page .grid__column--one-third {
	h4 {
		margin-bottom: 1.9em;
	}
	button {
		margin-bottom: 3rem;
		float: left;
		clear: both;
	}
}
.ie8.interactions-page .grid__column--one-third * {
	display: none;
}
.interactions-page .grid__column--one-third .main-navigation {
	padding-top: 0;
	padding-bottom: 0;
	margin-bottom: 3rem;
	> ul > li {
		margin-bottom: 0;
	}	
}