.font-demo {
	@include font-size(20px);
	line-height: 1.5;
	margin-bottom: 0;
	color: $dark-grey-1;
}
.custom--tablet-one-half {
	@media screen and (min-width: $tablet) and (max-width: $desktop) {
		@include column(6);
	}
}