/* line 5, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Grid variables */
/* responsive layout */
/* Compass Grid Background variables */
/* line 62, ../sass/layout/_grid.scss */
.grid-column--one-sixth {
  display: inline;
  float: left;
  width: 16.66667%;
  padding: 0 2%;
}

/* line 66, ../sass/layout/_grid.scss */
.grid-column--one-quarter {
  display: inline;
  float: left;
  width: 25%;
  padding: 0 2%;
}

/* line 70, ../sass/layout/_grid.scss */
.grid-column--one-third {
  display: inline;
  float: left;
  width: 33.33333%;
  padding: 0 2%;
}

/* line 74, ../sass/layout/_grid.scss */
.grid-column--one-half {
  display: inline;
  float: left;
  width: 50%;
  padding: 0 2%;
}

/* line 78, ../sass/layout/_grid.scss */
.grid-column--two-thirds {
  display: inline;
  float: left;
  width: 66.66667%;
  padding: 0 2%;
}

/* line 82, ../sass/layout/_grid.scss */
.grid-column--three-quarters {
  display: inline;
  float: left;
  width: 75%;
  padding: 0 2%;
}

/* line 86, ../sass/layout/_grid.scss */
.grid-column--full-width {
  display: inline;
  float: left;
  width: 100%;
  padding: 0 2%;
}

/* line 90, ../sass/layout/_grid.scss */
.grid__row-container {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/* line 95, ../sass/layout/_grid.scss */
.grid__row {
  display: block;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  *zoom: 1;
}
/* line 25, ../sass/layout/_grid.scss */
.grid__row:before, .grid__row:after {
  content: "";
  display: table;
}
/* line 30, ../sass/layout/_grid.scss */
.grid__row:after {
  clear: both;
}

/* Demo page styles only, grid mixins and classes are in _grid.scss */
/* line 6, ../sass/grid-demo.scss */
html, body {
  position: relative;
  height: 100%;
  font-size: 0;
}

/* line 13, ../sass/grid-demo.scss */
.page-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 10px;
  background-color: #f7ef18;
  box-sizing: border-box;
}
@media screen and (min-width: 480px) {
  /* line 13, ../sass/grid-demo.scss */
  .page-container {
    padding: 0 20px;
  }
}
@media screen and (min-width: 1000px) {
  /* line 13, ../sass/grid-demo.scss */
  .page-container {
    padding: 0 30px;
  }
}

/* line 27, ../sass/grid-demo.scss */
.grid-container {
  height: 100%;
  width: 100%;
  background-color: #b04341;
  box-sizing: border-box;
}
@media screen and (min-width: 480px) {
  /* line 27, ../sass/grid-demo.scss */
  .grid-container {
    background-color: #747e49;
  }
}
@media screen and (min-width: 1000px) {
  /* line 27, ../sass/grid-demo.scss */
  .grid-container {
    background-color: #576cb0;
  }
}

/* line 39, ../sass/grid-demo.scss */
.grid__column {
  display: inline;
  float: left;
  width: 8.33333%;
  padding: 0 2%;
  height: 100px;
  box-sizing: border-box;
}
/* line 43, ../sass/grid-demo.scss */
.grid__column .grid__column__content {
  width: 100%;
  height: 100%;
  background-color: #c77a78;
}
@media screen and (min-width: 480px) {
  /* line 43, ../sass/grid-demo.scss */
  .grid__column .grid__column__content {
    background-color: #8cb47f;
  }
}
@media screen and (min-width: 1000px) {
  /* line 43, ../sass/grid-demo.scss */
  .grid__column .grid__column__content {
    background-color: #6ea2e6;
  }
}

/* line 55, ../sass/grid-demo.scss */
.grid__column--full-height {
  height: 100%;
}

/* line 58, ../sass/grid-demo.scss */
.grid__row-container {
  height: 100px;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/* line 63, ../sass/grid-demo.scss */
article {
  background-color: green;
  display: inline;
  float: left;
  width: 75%;
  padding: 0 2%;
}
/* line 66, ../sass/grid-demo.scss */
article .grid__row {
  background-color: red;
  overflow: hidden;
}
/* line 69, ../sass/grid-demo.scss */
article .grid__row li {
  display: inline;
  float: left;
  width: 33.33333%;
  padding: 0 2.66667%;
  box-sizing: border-box;
}
/* line 72, ../sass/grid-demo.scss */
article .grid__row li div {
  height: 100px;
  background-color: orange;
}
