* {
	border: 0;
	margin: 0;
	padding: 0;
	line-height: 1.2;
	font-family: 'Lato', sans-serif;
	vertical-align: baseline;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
html, body {
	font-size: 10px;
	background-color: #fcfdfd;
}
body {
	padding-bottom: 4rem;
}
div, header {
	box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	color: #29292c;
}
p {
	font-size: 1.6rem;
	line-height: 1.5625em;
	color: #5b5b68;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
	vertical-align: middle;
}
.reflection-header {
	width: 100%;
	margin-bottom: 1rem;
}
.reflection-header__logo-container {
	height: 65px;
	text-align: left;
	background-color: #363a47;
}
.reflection-header__logo-container .logo-reflection-ukie {
	display: inline-block;
	vertical-align: top;
	width: 270px;
	height: 40px;
	margin: 10px 0 0 20px;
}
.reflection-header__heading-container {
	width: 100%;
	height: 240px;
	text-align: center;
	background-color: #6d69c5;
	background-image: url(../images-ukie/Header_Image.jpg);
	background-position: 50% 50%;
}
.reflection-header__heading-container:before {
  content: '';
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.35em; /* Adjusts for spacing */
}
.reflection-header__heading-container > * {
  display: inline-block;
  vertical-align: middle;
}
.heading-container__headings {
	position: relative;
	top: 3px;
}
.reflection-header__heading-container h1 {
	margin-bottom: 18px;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 4.1rem;
	font-weight: 700;
	color: #ffffff;
}
.reflection-header__heading-container h2 {
	max-width: 550px;		
	margin: 0 auto 22px;
	font-family: "Lato", sans-serif;	
	font-size: 2.2rem;
	font-weight: 400;
	color: #81879d;
	letter-spacing: -0.01em;
	line-height: 1.1em;
	overflow: visible;
}
.reflection-article {
	padding-left: 22px;
	padding-right: 22px;
}
.reflection-table-data {
	width: 100%;
	table-layout: fixed;			
	border-collapse: collapse;
	border-spacing: 0;
}
.is-safari .reflection-table-data {
	table-layout: auto;
}
.reflection-table-data th {
	padding: 16px 10px 11px 0;
	font-size: 1.6rem;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 600;
	color: #29292c;
	overflow: hidden;
	text-overflow: ellipsis;
}
.reflection-table-data th:first-child {
	padding-left: 2%;
}
.reflection-table-data td {
	padding-top: 9px;
	padding-bottom: 10px;
	vertical-align: middle;
	font-size: 1.5rem;
	color: #363A47;
}
.reflection-table-data td:first-child {
	padding-left: 2%;
}
.reflection-table-data tr:nth-child(odd) > td {
  background-color: #F2F2F5;
}
.reflection-table-data tr:nth-child(even) > td {
  background-color: #fcfdfd;
}
.table-data__this-week,
.table-data__this-period,
.table-data__change {
	padding-right: 10px;
	text-align: center;
}
td.table-data__this-period {
	font-weight: 700;
}
.is-safari td.table-data__this-period {
	width: 12%;
}
td.table-data__change span {
	font-size: 1.5rem;
	font-weight: 700;
	color: #acafb7;
}
.is-safari td.table-data__change {
	width: 12%;
}
td.table-data__app-title {	
	font-size: 1.4rem;
	font-weight: 700;
	color: #363a47;
}
.is-safari td.table-data__app-title {
	width: 37%;
}
td.table-data__app-title .title-container {
	width: calc(100% - 75px);
}
.is-safari .table-data__app-title .title-container {
	white-space: normal;
}
td.table-data__app-title .title-container span {
  overflow: hidden;
  line-height: 1.25;
}
th.table-data__app-icon {
	overflow: visible;
	text-overflow: inherit;
}
td.table-data__app-icon {
	padding-right: 10px;
}
td.table-data__app-icon img {
	width: 23px;
	height: 23px;
	margin-right: 1.7rem;
	border-radius: 3px;
}
th.table-data__app-developer,
td.table-data__app-developer {
	padding-left: 20px;
}
td.table-data__app-developer {
	color: #363a47;
	font-size: 1.4rem;
	line-height: 1.25;
}
.is-safari td.table-data__app-developer {
	width: 30%;
}
td.table-data__app-developer div {
	width: 100%;
	padding-right: 10px;
	line-height: 1.25;
}
td.table-data__change span.positive-movement {
	color: #1bc79f;
}
.positive-movement:before {
	content: '+ ';
}
td.table-data__change span.negative-movement {
	color: #ff496a;
}
.negative-movement:before {
	content: '- ';
}
td.table-data__this-week span.null-movement,
td.table-data__change span.null-movement {
	font-weight: 400;
	color: #c4c7d0;
}