@CHARSET "UTF-8";

.cn,.de,.fr,.gb,.jp,.it,.us {
	display: inline-block;
	width: 26px;
	height: 26px;
}

@sprite .cn {
	gwt-image: "spriteSheet";
	background-position: -2px -86px;
}

@sprite .de {
	gwt-image: "spriteSheet";
	background-position: -30px -58px;
}

@sprite .fr {
	gwt-image: "spriteSheet";
	display: inline-block;
	background-position: -2px -58px;
}

@sprite .gb {
	gwt-image: "spriteSheet";
	background-position: -30px -30px;
}

@sprite .it {
	gwt-image: "spriteSheet";
	background-position: -2px -30px;
}

@sprite .jp {
	gwt-image: "spriteSheet";
	background-position: -30px -2px;
}

@sprite .us {
	gwt-image: "spriteSheet";
	background-position: -2px -2px;
}